#subnav {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all; /* future proof */
  background:$project-body-bg;

  &.ui-scrollfix {
    top: 0;
    position:fixed;
    width: 100%;
    background:$pagenav-bg;
    z-index: 100;
  }
}

.navbar-project {
    background-color: $breadcrumbs-bg;
}

.navbar {
    border-radius: 0;
    min-height: 0;
    margin-bottom: 0;
}
