content: url("images/circle_green.png");
/* background-color: #FFBA10; */
border-color: black;
/* border-style: dotted; */
/* display: block; */
vertical-align: middle;
vertical-align: -18%;
padding: 0 5px 0 0;