.container.project
  .row
    .col-md-12(role='main')
      .section#home
        .page-header
          h1 Home
      .section#test
        .span(test-placement='left', test='hello foo') Hello World
