doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Carneades Web Application
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    link(rel='stylesheet', href='css/carneades.css', media='screen')
    //link(rel='stylesheet', href='css/font-awesome.min.css', media='screen')
    //link(rel='stylesheet', href='css/open-sans.min.css', media='screen')
    //link(rel='stylesheet', href='css/montserrat-regular.css', media='screen')
    link(rel='stylesheet', href='css/perfect-scrollbar.min.css', media='screen')
    css-inject(theme='$stateParams.pid')  

    
  body
    div(id='header-section', ui-view='header')
    div(my-loading-spinner='viewLoading')
      div(id='subnav-section', ui-view='subnav')
      div(ui-view='content')
    footer-loader(theme='$stateParams.pid')
    script(src='require.js', data-main='main.min.js')
