doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Carneades Web Application
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    link(rel='stylesheet',href='css/layout.css',media='screen')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans',rel='stylesheet',type='text/css')

  body(ng-controller='AppCtrl')
    div(ui-view='css')
    header#top(ng-controller='HeaderCtrl')
      .my-fluid-container#mobheader
        .row.border-bottom
          .col-md-1
            .section#mobnav
              div
                button.navbar-toggle(type='button',ng-init='navCollapsed = true',ng-click='navCollapsed = !navCollapsed')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
          .col-md-11
            .section#mobbc
              breadcrumb(states='navigatedStates',style='style')
        .row.collapse#mobnavdetails(collapse='navCollapsed')
          div(ui-view='mobsubnav',ng-cloak='')
      div#global
        div(ui-view='banner',ng-cloak='')
        div.navbar.subnav-navbar
          .my-fluid-container
            breadcrumb(states='navigatedStates',style='style')
        div#subnav(ui-view='subnav',ng-cloak='')

    div
      div(ui-view='content',style='margin-bottom: 4em;min-height:400px;',ng-cloak='')

    div(ui-view='footer',ng-cloak='')

    script(src='require.js',data-main='main.min.js')
