.row
  .col-md-12
    .header
      .headerDivLeft
        %a.footerLink{"href" => "http://demo.markosproject.eu/"}
          Home &amp; Search
        %a.footerLink{"href" => "#"}
          License Analysis Administration
        %a.footerLink{"href" => "/data/"}
          Linked Data
        %a.footerLink{"href" => "#"}
          Feedback
      .horizontal-element.text-right.block-right.link-register
        %a
          Register
      .horizontal-element.text-right.block-right.link-login
        %a
          Login
