.col-lg-offset-1.col-lg-10.project
  .row
    .col-md-12
      .section#projects
        .page-header
          h1(translate='projects.headline')

        accordion
          accordion-group(ng-repeat='project in projects')
            accordion-heading
              span.arrow
              markdown(ng-model='project.title', strip='true')

            .commands
              button.btn.btn-default.btn-small(
                type='button',
                ng-click='copyLink(project.id)')
                i.fa.fa-copy: span(translate='projects.copylink')

              a(ui-sref='home.projects.project({pid: project.id})')
                button.btn.btn-default.btn-small(type='button')
                  i.fa.fa-folder-open-o: span(translate='projects.open')

            .section
              markdown(
                strip='true',
                ng-model='project.description')
