div.metadata-editor
  div(class="form-group")
    label.title_header
      {{'projects.metadata.title' | translate}}
    input(name="title" placeholder="type title here" class="form-control input-md" type="text", ng-model="model.title")

  div(class="form-group")
    label.description_header
      {{'projects.metadata.description' | translate}}
    tabset
      tab(ng-repeat="v in languages", heading='{{v[1]}}')
        textarea(class="form-control", id="description_{{v[0]}}", name="description_{{v[0]}}", ng-model="model.description[v[0]]", rows="10")
          {{model.description[lang]}}
  