div.metadata-editor
  div.form-group
    label.title_header.highlight {{'projects.metadata.title' | translate}}
    input.form-control.input-md(name="title",placeholder="type title here",type="text",ng-model="model.title")

  div.form-group
    label.description_header {{'projects.metadata.description' | translate}}
    tabset
      tab(ng-repeat="v in languages", heading='{{v[1]}}')
        div.editor-panel(style='height:200px;width:100%;',hallo="{toolbar:'halloToolbarFixed',plugins:{'halloformat':{'bold':true},'halloheadings':{},'halloreundo':{},'hallolists':{},'halloindicator':{}}}",ng-model='model.description[v[0]]',name='description_{{v[0]}}',id='description_{{v[0]}}') {{model.description[lang]}}
  
