div.metadata-editor
  span.description
    {{'projects.description' | translate}}
  tabset
    tab(ng-repeat="lang in languages", heading='{{lang | uppercase}}')
      textarea(class="form-control", id="description_{{lang}}", name="description_{{lang}}")
        {{model.description[lang]}}
  