.my-fluid-container.map
  .row
    .col-md-12.scroll(bn-map-click='handleClick( $event )',bn-map-mouseout='handleMouseout( $event )',bn-map-mouseover='handleMouseover( $event )')
      map(ng-model='svg')
