@mixin make-breadcrumb-levels() {
    @for $i from 1 through 7 {
        $bc-bg-color: lighten($breadcrumbs-bg, 10% * $i);
        &.bc-level-#{$i} {
            > a {
                background: $bc-bg-color;

                &:after {
                    border: {
                      right: 2px solid $bc-bg-color;
                      top: 2px solid $bc-bg-color;
                    }
              
                    background: $bc-bg-color;
                }
            }
        }
    }
}

@mixin make-breadcrumb-link-after() {
    &:after {
        content: '';
        display: block;
        z-index: 1;

        @include box-sizing(border-box);
        height: $breadcrumbs-height;
        width: $breadcrumbs-height;

        border: {
            right: 2px solid $breadcrumbs-bg;
            top: 2px solid $breadcrumbs-bg;
        }
        position: absolute;
        right: 0;
        top: 0;

        background: $breadcrumbs-bg;
        @include transform(translateX($breadcrumbs-height/2) rotate(45deg) scale(1/sqrt(3)) skew(15deg, 15deg));
    }
}