%li{"class" => "bc-default-a"}
  %a{:href => "", "ng-click" => "openCommandsView()", :tooltip => "{{state.tooltip}}", "tooltip-append-to-body" => "true", "tooltip-placement" => "bottom"}
    {{state.label}}
