%li{"class" => "bc-default-a"}
  %a{"ng-click" => "openView(state.name, state.params)", "tooltip" => "{{state.tooltip}}", "tooltip-append-to-body" => "true", "tooltip-placement" => "bottom"}
    {{state.label}}
  
