html {
    height: 100%;
}


body {
    margin: 0px;
    padding: 10px;
    font-family:verdana, arial, helvetica, sans-serif;
    color:#333;
    background-color:white;
    height: 100%;
}


p {
    padding-left: 10px;
}


div#header{

    position: relative;
    
}

div#header h1 {
    padding-left: 10px;
}

div#filechooser {
    width: 100%;
    height: auto;       
}

div#filechooser form {
    padding: 5px;
    padding-left: 10px;
}

#container  {
    height: 80%;
}

div#tabs {
    height : 100%;
    width : auto;
}

div#tabs-1 {
    height : 100%;
    width: auto;
}

div#tabs-2 {
    height : 100%;
    width: auto;
}

div#wrapper{
    float:left;
    width: 100%;
}
        
div#toolbar{
    float: left;
    margin-left: -100%;
    width: 200px;
}

#wrapper {
    height: 100%;
}

div#graphbox{    
    height: 90%;
    width: 100%;
    cursor: move;
}

div#extra{
    float: left;
    /*margin-left: -200px;*/
    width: auto;
    height: auto;
}

iframe#lkifSource {
    width : 400px;
    border: 0;
    height : 500px;
}

div#footer {
    clear: left;
    width: 100%;
    text-align: center;
}

#slider {

}