div(my-loading-spinner='viewLoading')
  h1 {{title}}
  p.introduction{{'lican.intro.text' | translate}}

  form(ng-submit='startAnalysis()')
    button.btn.btn-default(type='submit') {{'lican.intro.start' | translate}}
