%div{"ui-view" => ""}
  %h1 {{title}}
  %p.introduction
    {{messages.intro_text}}

  %form{"ng-submit" => "startAnalysis()"}
    %input.btn-primary{value: "{{messages.intro_start}}", type: "submit"}
