%div
  %h2 {{messages.questions_title}}
  %form{"ng-submit" => "sendAnswer()", "name" => "questionsForm"}
    %div{"ng-repeat" => "group in questionGroups"}
      %question-group{group: "group"}
    %input.btn-primary{type: "submit", value: "{{messages.send}}"}
