@CHARSET "UTF-8";

/*****************************************************************************/
/*                                 COPYRIGHT                                 */
/*****************************************************************************/
/* Copyright © 2011 User Interface Design GmbH. All Rights Reserved.         */
/* File: impact-green.css                                                    */
/*                                                                           */
/* Description: Style sheet for media type 'screen' of the impact project    */
/*                                                                           */
/* Last modified at: 13.2.2012                                               */
/*                                                                           */
/* Last modified by: Pascal Welsch <pascal.welsch@uid.com>                   */
/*                                                                           */
/*****************************************************************************/

/*****************************************************************************/
/*                              CSS STYLE RESET                              */
/*****************************************************************************/
/*                                                                           */
/* Source:  http://meyerweb.com/eric/tools/css/reset/                        */
/* Version: v3.0 | 20120213                                                */
/* License: none (public domain)                                             */
/*                                                                           */
/*****************************************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,button,input,fieldset
	{
	margin: 0;
	/*padding: 0;*/
	border: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	/*list-style: none;*/
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************************************************/
/*                              Main Page Setup                              */
/*****************************************************************************/
body {
	font: 12pt Calibri, Arial, sans-serif;
	overflow: hidden;
}

p {
	cursor: text
}

body label,body input,body button {
	font-family: Calibri, Arial, sans-serif;
	font-size: 12px;
}

/*Remove dotted focus indicator in firefox */
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
}

label {
	font-weight: bold;
	padding: 2px 10px 2px 2px;
}

::selection,::-moz-selection,::-webkit-selection {
	background: #3D3D3F;
	color: #fff;
}

/*****************************************************************************/
/*                              Helpful Classes                              */
/*****************************************************************************/

/*A <ul> with class list-no-bullets will have no bullets*/
ul.list-no-bullets li {
	list-style: none;
	margin-top: 6px;
	background: none;
}

ul.list-no-bullets li:first-child {
	list-style: none;
	margin-top: 0px;
}

/* This class marks an element as not selectable, the text on a button for example should not be selectable. */
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*****************************************************************************/
/*                             Text input fields                             */
/*****************************************************************************/
/* Buttons are build with a wrapping <span> and a <input type="text"> html   */
/* markup. The wrapping <span> is used to build a stretchable text input     */
/* field with the right-side background image. The <input> gets the          */
/* left-side background image.                                               */
/* The background images are placed in one file, so it is just moved to the  */
/* correct place via background-position (especially in the activ state)     */
/*****************************************************************************/

/*Styles for the text input field, his label and the text in the field

*/
input[type=text] {
	outline-offset: 0px;
	border-radius: 1px;
	border: 1px solid #97999A;
	box-shadow: 0px 1px 1px 0px #D5D5D5 inset, 1px 0px 1px 0px #D5D5D5 inset,
		1px 0px 1px 0px #DDDDDD;
	outline-style: none;
	margin-bottom: 2px;
	margin-top: 2px;
	height: 20px;
	padding: 0px 3px;
	width: 167px;
}

input[type=text]:hover {
	border: 1px solid #777;
}

input[type=text]:active,input[type=text]:focus,
input[type=text]:active:hover,input[type=text]:focus:hover	{
	box-shadow: 0px 0px 1px 1px #7AB817 inset, 1px 0px 1px 0px #DDDDDD;
	border: 1px solid #97999A;
}

input[type=text][readonly=readonly] {
	border: 1px solid #A2A2A2, 1px 0px 1px 0px #DDDDDD;
	color: #5C5C5C;
}

input[type=text][readonly=readonly]:hover,input[type=text][readonly=readonly]:active input[type=text][readonly=readonly]:hover,input[type=text][readonly=readonly]:focus
	{
	box-shadow: 0px 1px 1px 0px #D5D5D5 inset, 1px 0px 1px 0px #D5D5D5 inset,
		1px 0px 1px 0px #DDDDDD;
	border: 1px solid #777;
}

/*
.text-input {
	padding: 0 0 10px 0;
	display: inline;
}
.text-input label{
	font-size: 12px;
	font-weight: bold;
	width: 85px;
	padding: 2px 10px 2px 2px;
	display:block;
	float:left;
}
span.ui-input-wrap{
    background: url("images/backgrounds.png") no-repeat scroll right -24px #FFF;
    margin: 0 0 0 10px;
    padding: 1px 10px 2px 0;
}
span.ui-input-wrap input[type=text]{
	font: 14px Calibri,Arial,sans-serif;
	background: url("images/backgrounds.png") no-repeat left -24px #FFF;
    border: 0 none;
  	padding: 3px 0 3px 5px;
    width: 100px;
    color: #333;
    outline: 0;
}
.text-input span.ui-input-wrap input[type=text].hint{
	color: #999;
}

/*Focus state
.text-input span.focus{
	background-position: right -1px;
}
.text-input span.ui-input-wrap input[type=text]:focus{
	background-position: left -1px;
	color: #333;
}

/*Disabled state
.text-input span.ui-input-wrap-readonly{
	background-position: right -47px; 
}
.text-input span.ui-input-wrap input[type=text][readonly=readonly]{
	background-position: left -47px;
	color: #999;
}


/*****************************************************************************/
/*                                 Buttons                                   */
/*****************************************************************************/
/* Buttons are build with a wrapping <span> and a <button> or                */
/* <input type="submit"> html markup. The wrapping <span> is used to build a */
/* stretchable button with the right-side background image. The <input> or   */
/* <button> gets the left-side background image.                             */
/* The background images are placed in one file, so it is just moved to the  */
/* correct place via background-position (especially in the focus, activ and */
/* hover state handling                                                      */
/*****************************************************************************/
/*            ! Some CSS for this is done from jQuery CSS file !             */
/*****************************************************************************/
input[type=button],
input[type=submit],
button {
	outline-offset: 0px;
	border-radius: 1px;
	border: 1px solid #97999A;
	box-shadow: 0px 1px 1px 0px #D5D5D5 inset, 1px 0px 1px 0px #D5D5D5 inset,
		1px 0px 1px 0px #DDDDDD;
	outline-style: none;
	margin-bottom: 2px;
	margin-top: 2px;
	height: 22px;
	padding: 0px 7px;
	background: #F4F3F3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F4F3F3), to(#DADADB));
	background: -webkit-linear-gradient(#F4F3F3, #DADADB);
	background: -moz-linear-gradient(#F4F3F3, #DADADB);
	background: -ms-linear-gradient(#F4F3F3, #DADADB);
	background: -o-linear-gradient(#F4F3F3, #DADADB);
	background: linear-gradient(#F4F3F3, #DADADB);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#F4F3F3, #DADADB);
	behavior: url(toolbox/css/PIE.htc);
	/* old way but with the round corner bug
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9',
		endColorstr='#ECECED' );*/
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input[type=button]:hover,
input[type=submit]:hover,
button:hover {
	background: #ECF5E1;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ECF5E1), to(#D4DDCA));
	background: -webkit-linear-gradient(#ECF5E1, #D4DDCA);
	background: -moz-linear-gradient(#ECF5E1, #D4DDCA);
	background: -ms-linear-gradient(#ECF5E1, #D4DDCA);
	background: -o-linear-gradient(#ECF5E1, #D4DDCA);
	background: linear-gradient(#ECF5E1, #D4DDCA);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#ECF5E1, #D4DDCA);
	behavior: url(toolbox/css/PIE.htc);
}

input[type=button]:active,
input[type=submit]:active,
button:active {
	background: #D4DDCA;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#D4DDCA), to(#ECF5E1));
	background: -webkit-linear-gradient(#D4DDCA, #ECF5E1);
	background: -moz-linear-gradient(#D4DDCA, #ECF5E1);
	background: -ms-linear-gradient(#D4DDCA, #ECF5E1);
	background: -o-linear-gradient(#D4DDCA, #ECF5E1);
	background: linear-gradient(#D4DDCA, #ECF5E1);
	/* IE fix for borders and gradients*/
	-pie-background: linear-gradient(#D4DDCA, #ECF5E1);
	behavior: url(toolbox/css/PIE.htc);
}

input[type=button]:focus,
input[type=submit]:focus,
button:focus {
	box-shadow: 0px 0px 1px 1px #7AB817 inset, 1px 0px 1px 0px #DDDDDD;
}

input[type=button][disabled=disabled],
input[type=submit][disabled=disabled],
button[disabled=disabled] {
	border: 1px solid #BCBCBC;
	box-shadow: 0px 1px 1px 0px #D5D5D5 inset, 1px 0px 1px 0px #D5D5D5 inset,
		1px 0px 1px 0px #DDDDDD;
	background: #F9F9F9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9F9F9), to(#ECECED));
	background: -webkit-linear-gradient(#F9F9F9, #ECECED);
	background: -moz-linear-gradient(#F9F9F9, #ECECED);
	background: -ms-linear-gradient(#F9F9F9, #ECECED);
	background: -o-linear-gradient(#F9F9F9, #ECECED);
	background: linear-gradient(#F9F9F9, #ECECED);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#F9F9F9, #ECECED);
	behavior: url(toolbox/css/PIE.htc);
}

input[type=button][disabled=disabled]:focus,
input[type=submit][disabled=disabled]:focus,
button[disabled=disabled]:focus {
	box-shadow: 0px 1px 1px 0px #D5D5D5 inset, 1px 0px 1px 0px #D5D5D5 inset,
		1px 0px 1px 0px #DDDDDD;
}

/* Styles for the button and the text on the button */
/*.ui-button-wrap {
	background: url("images/backgrounds.png") no-repeat scroll right -70px
		#FFF;
	display: inline-block;
	height: 23px;
	padding: 0 5px 0 0;
	margin: 0 8px 0 0;
}

.ui-button-wrap .ui-button {
	background: url("images/backgrounds.png") no-repeat scroll left -70px
		#FFF;
	border: 0 none;
	color: #333;
	font-family: Calibri, Arial, sans-serif;
	font-size: 14px;
	margin: 0 2px 0 -2px;
	display: inline-block;
	padding: 1px 5px 0 10px;
	height: 23px;
	outline: none;
}

.ui-button-wrap .ui-button .ui-button-text {
	display: inline-block;
	height: 18px;
	margin: -2px 0 2px;
	padding: 0 5px;
}

.ui-button-wrap input.ui-button {
	padding-top: 0;
}

/* Styles for the button's active, hover and focus state */
/*.ui-button-wrap-focus {
	background-position: right -162px;
}

.ui-button-wrap-focus .ui-button {
	background-position: left -162px;
}

.ui-button-wrap-focus.ui-button-wrap-active {
	background-position: right -208px;
}

.ui-button-wrap-focus.ui-button-wrap-active .ui-button {
	background-position: left -208px;
}

.ui-button-wrap-hover,.ui-button-wrap-focus:hover {
	background-position: right -93px;
}

.ui-button-wrap-hover .ui-button,.ui-button-wrap-focus:hover .ui-button
	{
	background-position: left -93px;
}

.ui-button-wrap-active,.ui-button-wrap-focus.ui-button-wrap-active:hover
	{
	background-position: right -116px;
}

ui-button-wrap-active .ui-button,.ui-button-wrap-focus.ui-button-wrap-active:hover .ui-button
	{
	background-position: left -116px;
}
/* Disabled buttons (There is no hover, active or focus for them) */
/*.ui-button-wrap-disabled {
	background-position: right -139px;
}

.ui-button-wrap-disabled .ui-button,.ui-button-wrap-disabled .ui-button:hover
	{
	background-position: left -139px;
	opacity: 1;
	color: #999
}


/*****************************************************************************/
/*                              Toggle Buttons                               */
/*****************************************************************************/
/* Toggle Buttons are build with hidden <input> and a visible <label> with a */
/* inner <span> html markup. This <label> and <span> tags are used to build  */
/* a stretchable button. <label> has the left-side background image.         */
/* The <span> gets the right-side background image.                          */
/* The background images are placed in one file, so it is just moved to the  */
/* correct place via background-position (especially in the focus, activ and */
/* hover state handling)                                                     */
/* A Toggle Button has TWO STATES, default ist no state and there is the     */
/* ui-state-active if the toggle button was clicked. The state while the     */
/* button is clicked is named ui-button-active !!                            */
/*****************************************************************************/
/*            ! Some CSS for this is done from jQuery CSS file !             */
/*****************************************************************************/

/* Normal State */
label.ui-button {
	outline-offset: 0px;
	border-radius: 1px;
	border: 1px solid #727B66;
	box-shadow: 0px 1px 1px 0px #D5D5D5 inset;
	outline-style: none;
	margin-left: -1px;
	margin-bottom: 2px;
	margin-top: 2px;
	height: 22px;
	padding: 0px 7px;
	background: #F4F3F3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F4F3F3), to(#DADADB));
	background: -webkit-linear-gradient(#F4F3F3, #DADADB);
	background: -moz-linear-gradient(#F4F3F3, #DADADB);
	background: -ms-linear-gradient(#F4F3F3, #DADADB);
	background: -o-linear-gradient(#F4F3F3, #DADADB);
	background: linear-gradient(#F4F3F3, #DADADB);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#F4F3F3, #DADADB);
	behavior: url(toolbox/css/PIE.htc);
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

label.ui-button:hover {
	background: #ECF5E1;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ECF5E1), to(#D4DDCA));
	background: -webkit-linear-gradient(#ECF5E1, #D4DDCA);
	background: -moz-linear-gradient(#ECF5E1, #D4DDCA);
	background: -ms-linear-gradient(#ECF5E1, #D4DDCA);
	background: -o-linear-gradient(#ECF5E1, #D4DDCA);
	background: linear-gradient(#ECF5E1, #D4DDCA);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#ECF5E1, #D4DDCA);
	behavior: url(toolbox/css/PIE.htc);
}

label.ui-button:active {
	background: #7BB919;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7BB919), to(#9FCC58));
	background: -webkit-linear-gradient(#7BB919, #9FCC58);
	background: -moz-linear-gradient(#7BB919, #9FCC58);
	background: -ms-linear-gradient(#7BB919, #9FCC58);
	background: -o-linear-gradient(#7BB919, #9FCC58);
	background: linear-gradient(#7BB919, #9FCC58);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#7BB919, #9FCC58);
	behavior: url(toolbox/css/PIE.htc);
	
	box-shadow: 1px 0px 1px 0px #DDDDDD;
}

label.ui-button:focus, label.ui-button.ui-button-focus {
	box-shadow: 0px 0px 1px 1px #7AB817 inset;
}

label.ui-button:focus:active {
	background: #D4DDCA;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#D4DDCA), to(#ECF5E1));
	background: -webkit-linear-gradient(#D4DDCA, #ECF5E1);
	background: -moz-linear-gradient(#D4DDCA, #ECF5E1);
	background: -ms-linear-gradient(#D4DDCA, #ECF5E1);
	background: -o-linear-gradient(#D4DDCA, #ECF5E1);
	background: linear-gradient(#D4DDCA, #ECF5E1);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#D4DDCA, #ECF5E1);
	behavior: url(toolbox/css/PIE.htc);
}

/* Active State */

label.ui-button.ui-state-active{
	background: #7BB919;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7BB919), to(#9FCC58));
	background: -webkit-linear-gradient(#7BB919, #9FCC58);
	background: -moz-linear-gradient(#7BB919, #9FCC58);
	background: -ms-linear-gradient(#7BB919, #9FCC58);
	background: -o-linear-gradient(#7BB919, #9FCC58);
	background: linear-gradient(#7BB919, #9FCC58);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#7BB919, #9FCC58);
	behavior: url(toolbox/css/PIE.htc);
	box-shadow: none;
}

label.ui-button.ui-state-active:hover{
	background: #517E01;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#517E01), to(#82B226));
	background: -webkit-linear-gradient(#517E01, #82B226);
	background: -moz-linear-gradient(#517E01, #82B226);
	background: -ms-linear-gradient(#517E01, #82B226);
	background: -o-linear-gradient(#517E01, #82B226);
	background: linear-gradient(#517E01, #82B226);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#517E01, #82B226);
	behavior: url(toolbox/css/PIE.htc);
}

label.ui-button.ui-state-active:active{
	background: #436101;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#436101), to(#6E931C));
	background: -webkit-linear-gradient(#436101, #6E931C);
	background: -moz-linear-gradient(#436101, #6E931C);
	background: -ms-linear-gradient(#436101, #6E931C);
	background: -o-linear-gradient(#436101, #6E931C);
	background: linear-gradient(#436101, #6E931C);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#436101, #6E931C);
	behavior: url(toolbox/css/PIE.htc);
}

label.ui-button.ui-state-active:focus, label.ui-button.ui-state-active.ui-button-focus{
	box-shadow: 0px 0px 1px 1px #DBF4B3 inset;
}

label.ui-button.ui-state-active:focus, label.ui-button.ui-state-active.ui-button-focus{
	box-shadow: 0px 0px 1px 1px #DBF4B3 inset;
}

/* Disabled State */
label.ui-button.ui-state-disabled,
label.ui-button.ui-state-disabled:hover,
label.ui-button.ui-state-disabled:active,
label.ui-button.ui-state-disabled:hover:active,
label.ui-button.ui-state-disabled:focus:hover, 
label.ui-button.ui-state-disabled:focus:active,
label.ui-button.ui-state-disabled:focus:hover:active,
label.ui-button.ui-state-disabled.ui-button-focus:hover, 
label.ui-button.ui-state-disabled.ui-button-focus:active,
label.ui-button.ui-state-disabled.ui-button-focus:hover:active{
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F4F3F3), to(#DADADB));
	background: -webkit-linear-gradient(#F4F3F3, #DADADB);
	background: -moz-linear-gradient(#F4F3F3, #DADADB);
	background: -ms-linear-gradient(#F4F3F3, #DADADB);
	background: -o-linear-gradient(#F4F3F3, #DADADB);
	background: linear-gradient(#F4F3F3, #DADADB);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#F4F3F3, #DADADB);
	behavior: url(toolbox/css/PIE.htc);
	box-shadow: 0px 1px 1px 0px #D5D5D5 inset;
}

label.ui-button.ui-state-disabled.ui-state-active,
label.ui-button.ui-state-disabled.ui-state-active:hover,
label.ui-button.ui-state-disabled.ui-state-active:active,
label.ui-button.ui-state-disabled.ui-state-active:hover:active,
label.ui-button.ui-state-disabled.ui-state-active:focus:hover, 
label.ui-button.ui-state-disabled.ui-state-active:focus:active,
label.ui-button.ui-state-disabled.ui-state-active:focus:hover:active,
label.ui-button.ui-state-disabled.ui-state-active.ui-button-focus:hover, 
label.ui-button.ui-state-disabled.ui-state-active.ui-button-focus:active,
label.ui-button.ui-state-disabled.ui-state-active.ui-button-focus:hover:active {
	background: #7BB919;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7BB919), to(#9FCC58));
	background: -webkit-linear-gradient(#7BB919, #9FCC58);
	background: -moz-linear-gradient(#7BB919, #9FCC58);
	background: -ms-linear-gradient(#7BB919, #9FCC58);
	background: -o-linear-gradient(#7BB919, #9FCC58);
	background: linear-gradient(#7BB919, #9FCC58);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#7BB919, #9FCC58);
	behavior: url(toolbox/css/PIE.htc);
	box-shadow: none;
}

/* OK button in dialog */
.toolbox .ui-button-text-only .ui-button-text {
	padding: .2em 1em;
}

/*right bracket*/
.button-group-wrap{
	background: url("images/backgrounds.png") no-repeat scroll right -232px transparent;
	display: inline-block;
	height: 34px;
}

/*left bracket*/
.button-group-wrap fieldset{
	background: url("images/backgrounds.png") no-repeat scroll left -266px transparent;
	display: inline-block;
	margin-right: 4px; /* distance to right bracket*/
	height: 34px;
	padding-left: 8px; /* distance to left bracket */
}

.button-group-wrap fieldset label.ui-button{
	margin-top: 4px;
	margin-left: -1px;
}

/*****************************************************************************/
/*                                Scroll Bars                                */
/*****************************************************************************/
/*   CSS Styles that are needed by jScrollPane for it to operate correctly.  */
/*      This styles where originally defined by the jScrollPane Plugin       */
/*                                                                           */
/* jScrollPane - v2.0.0beta9 - 2011-02-04                                    */
/* http://jscrollpane.kelvinluck.com/                                        */
/*                                                                           */
/* Copyright (c) 2010 Kelvin Luck                                            */
/* Dual licensed under the MIT and GPL licenses.                             */
/*****************************************************************************/
.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspVerticalBar *,.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	position: relative;
}

.jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled {
	cursor: default;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}

/*****************************************************************************/
/*                                Scroll Bars                                */
/*****************************************************************************/
/*                               Customization                               */
/*****************************************************************************/
/* Scrollbars are build via jQuery and have nothing to do with normal scroll */
/* bars. They are build with many empty divs which get background images...  */
/* The background images are placed in one file, so it is just moved to the  */
/* correct place via background-position                                     */
/*****************************************************************************/
.jspScrollable .jspContainer .jspPane {
	top: -5px;
}

/*vertical scroll bars*/
.jspScrollable .jspContainer .jspVerticalBar {
	width: 17px;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack {
	background: url("images/backgrounds-repeat-y.png") repeat-y scroll 0 0
		transparent;
}

.jspScrollable .jspContainer .jspVerticalBar .jspArrowUp {
	background: url("images/backgrounds.png") no-repeat scroll -125px -463px
		transparent;
}

.jspScrollable .jspContainer .jspVerticalBar .jspArrowDown {
	background: url("images/backgrounds.png") no-repeat scroll -125px -505px
		transparent;
}

.jspScrollable .jspContainer .jspVerticalBar .jspArrowUp:hover {
	background-position: -144px -463px;
}

.jspScrollable .jspContainer .jspVerticalBar .jspArrowDown:hover {
	background-position: -144px -505px;
}

.jspScrollable .jspContainer .jspVerticalBar .jspArrowUp.jspActive,.jspScrollable .jspContainer .jspVerticalBar .jspArrowUp.jspActive:hover
	{
	background-position: -163px -463px;
}

.jspScrollable .jspContainer .jspVerticalBar .jspArrowDown.jspActive,.jspScrollable .jspContainer .jspVerticalBar .jspArrowDown.jspActive:hover
	{
	background-position: -163px -505px;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag {
	background: url("images/backgrounds-repeat-y.png") repeat-y scroll -17px
		0 transparent;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag .jspDragTop
	{
	background: url("images/backgrounds.png") no-repeat scroll -125px -481px
		transparent;
	padding: 5px 0 0 0;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag .jspDragBottom
	{
	background: url("images/backgrounds.png") no-repeat scroll -125px -498px
		transparent;
	padding: 5px 0 0 0;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag:hover {
	background-position: -34px 0;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag:hover .jspDragTop
	{
	background-position: -144px -481px;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag:hover .jspDragBottom
	{
	background-position: -144px -498px;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag.jspActive,.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag.jspActive:hover
	{
	background-position: -51px 0;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag.jspActive .jspDragTop,.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag.jspActive:hover .jspDragTop
	{
	background-position: -163px -481px;
}

.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag.jspActive .jspDragBottom,.jspScrollable .jspContainer .jspVerticalBar .jspTrack .jspDrag.jspActive:hover .jspDragBottom
	{
	background-position: -163px -498px;
}

/*horinzontal scroll bars*/
.jspScrollable .jspContainer .jspHorizontalBar {
	height: 17px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack {
	background: url("images/backgrounds-repeat-x.png") repeat-x scroll 0 0
		transparent;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspArrowLeft {
	background: url("images/backgrounds.png") no-repeat scroll -3px -463px
		transparent;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspArrowRight {
	background: url("images/backgrounds.png") no-repeat scroll -45px -463px
		transparent;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspArrowLeft:hover {
	background-position: -64px -463px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspArrowRight:hover {
	background-position: -106px -463px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspArrowLeft.jspActive,.jspScrollable .jspContainer .jspHorizontalBar .jspArrowLeft.jspActive:hover
	{
	background-position: -3px -482px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspArrowRight.jspActive,.jspScrollable .jspContainer .jspHorizontalBar .jspArrowRight.jspActive:hover
	{
	background-position: -45px -482px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag {
	background: url("images/backgrounds-repeat-x.png") repeat-x scroll 0
		-17px transparent;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag .jspDragLeft
	{
	background: url("images/backgrounds.png") no-repeat scroll -21px -463px
		transparent;
	float: left;
	padding: 16px 5px 0 0;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag .jspDragRight
	{
	background: url("images/backgrounds.png") no-repeat scroll -38px -463px
		transparent;
	float: right;
	padding: 16px 5px 0 0;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag:hover
	{
	background-position: 0 -34px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag:hover .jspDragLeft
	{
	background-position: -64px -463px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag:hover .jspDragRight
	{
	background-position: -99px -463px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag.jspActive,.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag.jspActive:hover
	{
	background-position: 0 -51px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag.jspActive .jspDragLeft,.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag.jspActive:hover .jspDragLeft
	{
	background-position: -21px -482px;
}

.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag.jspActive .jspDragRight,.jspScrollable .jspContainer .jspHorizontalBar .jspTrack .jspDrag.jspActive:hover .jspDragRight
	{
	background-position: -38px -482px;
}

/*****************************************************************************/
/*                                Check Boxes                                */
/*****************************************************************************/
/* Check Boxes are build with a hidden <input type="checkbox"> and a visible */
/* <span> followed by a <label> html markup. The <span> is used to display a */
/* custom styled checkbox. The hidden (unstylable) <input> is used in order  */
/* to do whatever does a <input> usually.                                    */
/* A Check Box has TWO STATES, default ist no state and there is the         */
/* checkbox-state-checked if the Check Box was clicked. The state while the  */
/* button is clicked is named ui-checkbox-active                             */
/* The background images are placed in one file, so it is just moved to the  */
/* correct place via background-position (especially in the focus, activ and */
/* hover state handling)                                                     */
/*****************************************************************************/

/*Styles for the <span> an the <label>*/
body span.ui-checkbox {
	background: url("images/backgrounds.png") no-repeat scroll -3px -501px
		transparent;
	position: relative;
	top: 1px;
	height: 12px;
	width: 12px;
	display: block;
	float: left;
}

span.ui-checkbox.ui-checkbox-checked.ui-checkbox-state-checked {
	background-position: -3px -514px;
}

body label.ui-checkbox {
	padding: 0 0 0 5px;
	font-weight: normal;
}

/*Styles for the active, hover and focus states*/
body span.ui-checkbox.ui-checkbox-hover.ui-checkbox-focus {
	background-position: -42px -501px;
}

span.ui-checkbox.ui-checkbox-checked.ui-checkbox-hover.ui-checkbox-focus
	{
	background-position: -42px -514px;
}

body span.ui-checkbox.ui-checkbox-hover.ui-checkbox-focus.ui-checkbox-active
	{
	background-position: -68px -501px;
}

body span.ui-checkbox.ui-checkbox-checked.ui-checkbox-focus.ui-checkbox-active
	{
	background-position: -68px -514px;
}

body span.ui-checkbox.ui-checkbox-state-hover,body span.ui-checkbox.ui-checkbox-focus.ui-checkbox-hover:hover
	{
	background-position: -16px -501px;
}

span.ui-checkbox.ui-checkbox-checked.ui-checkbox-state-checked-hover,span.ui-checkbox.ui-checkbox-checked.ui-checkbox-focus.ui-checkbox-hover:hover
	{
	background-position: -16px -514px;
}

body span.ui-checkbox.ui-checkbox-active,body span.ui-checkbox.ui-checkbox-active.ui-checkbox-focus:hover
	{
	background-position: -29px -501px;
}

span.ui-checkbox.ui-checkbox-checked.ui-checkbox-active,span.ui-checkbox.ui-checkbox-checked.ui-checkbox-active.ui-checkbox-focus:hover
	{
	background-position: -29px -514px;
}

/*Styles for the disabled state*/
body span.ui-checkbox.ui-checkbox-disabled {
	background-position: -81px -501px;
}

span.ui-checkbox.ui-checkbox-checked.ui-checkbox-disabled {
	background-position: -81px -514px;
}

body label.ui-checkbox.ui-checkbox-disabled {
	color: #999;
}

/*****************************************************************************/
/*                               Radio Buttons                               */
/*****************************************************************************/
/* Radio Buttons are build similary to the Check Boxes above.                */
/* They are build with a hidden <input type="radio"> and a visible <span>    */
/* followed by a <label> html markup. The <span> is used to display a        */
/* custom styled checkbox. The hidden (unstylable) <input> is used in order  */
/* to do whatever does a <input> usually.                                    */
/* A Radio button has TWO STATES, default ist no state and there is the      */
/* ui-radio-state-checked if the Radio Button was clicked. The state while   */
/* the button is clicked is named ui-radio-active                            */
/* The background images are placed in one file, so it is just moved to the  */
/* correct place via background-position (especially in the focus, activ and */
/* hover state handling)                                                     */
/*****************************************************************************/

/*Styles for the <span> an the <label>*/
body span.ui-radio {
	position: relative;
	top: 2px;
	height: 12px;
	width: 12px;
	display: block;
	float: left;
	background: url("images/backgrounds.png") no-repeat transparent;
}

body span.ui-radio {
	background-position: -199px -462px;
}

span.ui-radio.ui-radio-checked.ui-radio-state-checked {
	background-position: -210px -462px;
}

body label.ui-radio {
	padding: 0 0 0 5px;
	font-weight: normal;
}

/*Styles for the active, hover and focus states*/
body span.ui-radio.ui-radio-state-hover.ui-radio-focus {
	background-position: -221px -462px;
}

span.ui-radio.ui-radio-checked.ui-radio-state-checked-hover.ui-radio-focus
	{
	background-position: -232px -462px;
}

body span.ui-radio.ui-radio-state-hover,body span.ui-radio.ui-radio-focus:hover
	{
	background-position: -199px -473px;
}

span.ui-radio.ui-radio-checked.ui-radio-state-checked-hover,span.ui-radio.ui-radio-checked.ui-radio-focus:hover
	{
	background-position: -210px -473px;
}

body span.ui-radio.ui-radio-active,body span.ui-radio.ui-radio-active.ui-radio-focus:hover
	{
	background-position: -199px -484px;
}

span.ui-radio.ui-radio-checked.ui-radio-active,span.ui-radio.ui-radio-checked.ui-radio-active.ui-radio-focus:hover
	{
	background-position: -210px -484px;
}

/*Styles for the disabled state*/
body span.ui-radio.ui-radio-disabled {
	background-position: -199px -496px;
}

span.ui-radio.ui-radio-checked.ui-radio-disabled {
	background-position: -210px -496px;
}

body label.ui-radio.ui-radio-disabled {
	color: #999;
}

/*****************************************************************************/
/*                             Drop down (select)                            */
/*****************************************************************************/
/*    This styles where originally defined by the jQuery selectbox plugin    */
/*                       but now have a custom styling                       */
/*****************************************************************************/
/* Drop Downs are build from a standard <select> tag. jQuery replaces this   */
/* <select> tag with some divs, a <input> and a <ul> list (form the          */
/* <option> tags).                                                           */
/*****************************************************************************/
div.dropdown-menu-wrap {
	display: inline-block;
}

.dropdown-menu.default-size {
	width: 125px;
}

/* Drop down styles*/
div.selectbox-wrapper {
	position: absolute;
	width: 400px;
	margin: 0px;
	margin-top: -4px;
	padding: 0px;
	text-align: left;
	max-height: 200px;
	overflow: auto;
	border: 1px solid #7A7A7A;
	background-color: #FFF;
	z-index: 1000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

/*Drop down list styles*/
div.selectbox-wrapper ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected { /*No style specified*/
	
}

/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current {
	background-color: #D4E9B4;
	border: 1px solid #C8E49F;
}

/* Drop down list items style*/
div.selectbox-wrapper ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	cursor: pointer;
	background-color: #FFF;
	border: 1px solid #FFF;
	font-size: 14px;
}

/* Look and feel of select box */
div.selectbox-wrap {
	display: inline-block;
	height: 28px;
}

div.selectbox-wrap .selectbox {
	background: #F4F3F3;background: 
	-webkit-gradient(linear, 0 0, 0 bottom, from(#F4F3F3), to(#DADADB));
	background: -webkit-linear-gradient(#F4F3F3, #DADADB);
	background: -moz-linear-gradient(#F4F3F3, #DADADB);
	background: -ms-linear-gradient(#F4F3F3, #DADADB);
	background: -o-linear-gradient(#F4F3F3, #DADADB);
	background: linear-gradient(#F4F3F3, #DADADB);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#F4F3F3, #DADADB);
	behavior: url(toolbox/css/PIE.htc);
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding-right: 20px;
	color: #333333;
	padding-left: 3px;
	display: block;
	cursor: pointer;
	width: 160px;
}

div.selectbox-wrap .selectbox:active {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#DADADB), to(#F4F3F3));
	background: -webkit-linear-gradient(#DADADB, #F4F3F3);
	background: -moz-linear-gradient(#DADADB, #F4F3F3);
	background: -ms-linear-gradient(#DADADB, #F4F3F3);
	background: -o-linear-gradient(#DADADB, #F4F3F3);
	background: linear-gradient(#DADADB, #F4F3F3);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#DADADB, #F4F3F3);
	behavior: url(toolbox/css/PIE.htc);
}

div.selectbox-wrap .selectbox-icon {
	background: url("images/backgrounds.png") no-repeat scroll -95px -503px
		transparent;
	display: inline-block;
	height: 4px;
	left: -7px;
	position: relative;
	top: -14px;
	width: 7px;
	float: right;
}

/*Styles for hover and focus*/
div.selectbox-wrap:hover .selectbox {
}

div.selectbox-wrap:hover .selectbox-icon-wrap {
	
}

div.selectbox-wrap.selectbox-focus .selectbox {
	
}

/*Styles for the disabled state*/
div.selectbox-wrap.selectbox-disabled .selectbox {
	border: 1px solid #BCBCBC;
	box-shadow: 0px 1px 1px 0px #D5D5D5 inset, 1px 0px 1px 0px #D5D5D5 inset,
		1px 0px 1px 0px #DDDDDD;
	background: #F9F9F9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9F9F9), to(#ECECED));
	background: -webkit-linear-gradient(#F9F9F9, #ECECED);
	background: -moz-linear-gradient(#F9F9F9, #ECECED);
	background: -ms-linear-gradient(#F9F9F9, #ECECED);
	background: -o-linear-gradient(#F9F9F9, #ECECED);
	background: linear-gradient(#F9F9F9, #ECECED);
	/* IE fix for borders an gradients*/
	-pie-background: linear-gradient(#F9F9F9, #ECECED);
	behavior: url(toolbox/css/PIE.htc);
}

div.selectbox-wrap.selectbox-disabled .selectbox-icon {
	
}

/*****************************************************************************/
/*                             Combo Box (select)                            */
/*****************************************************************************/
/* Combo boxes are like Drop Downs, but they are editable an have another    */
/* styling. So here primarily the background images are replaced. The        */
/* styling of the rest is taken from the Drop Downs.                         */
/*****************************************************************************/
div.combobox-menu-wrap {
	display: inline-block;
}

combobox-menu-wrap.default-size {
	width: 125px;
}

.combobox-menu-wrap div.selectbox-wrap .selectbox {
	background-position: left -24px;
	cursor: text;
}

.combobox-menu-wrap div.selectbox-wrap:hover .selectbox {
	background-position: left -24px;
}

.combobox-menu-wrap div.selectbox-wrap.selectbox-focus .selectbox {
	background-position: left -1px;
}

.combobox-menu-wrap div.selectbox-wrap.selectbox-disabled .selectbox {
	background-position: left -47px;
	cursor: default;
}

/*****************************************************************************/
/*                                Progress Bar                               */
/*****************************************************************************/
/* Progrssbars are build with some empty divs.                               */
/* This styles primarily overwrites the standard jQuery styles for           */
/* the progress bars                                                         */
/*****************************************************************************/
/*            ! Some CSS for this is done from jQuery CSS file !             */
/*****************************************************************************/
.ui-progressbar {
	background: url("images/backgrounds.png") no-repeat scroll left -530px
		#FFF;
	border: 0 none;
	height: 12px;
	padding: 0 0 0 3px;
	width: 120px;
}

.ui-progressbar .ui-progressbar-inner {
	background: url("images/backgrounds.png") no-repeat scroll right -530px
		#FFF;
	height: 12px;
}

.ui-progressbar .ui-progressbar-value {
	background: url("images/backgrounds.png") no-repeat scroll left -544px
		transparent;
	border: 0 none;
	height: 11px;
}

.ui-progressbar .ui-progressbar-value .ui-progressbar-value-inner {
	background: url("images/backgrounds.png") no-repeat scroll right -544px
		transparent;
	height: 11px;
}

/*****************************************************************************/
/*                                   Links                                   */
/*****************************************************************************/
a,a:link,a:visited,a:hover,a:focus,a:active {
	color: #1977D1;
	outline: 0 none;
	text-decoration: none;
}

a:hover,a:focus,a:hover:focus {
	color: #004A91;
	outline: 0 none;
}

a:active {
	color: #003159;
}

a:focus {
	outline: 1px dotted;
}

/*****************************************************************************/
/*                                    Tabs                                   */
/*****************************************************************************/
/* Tabs are build with a list and some hidden divs.                          */
/* This styles primarily overwrites the standard jQuery styles for tabs.     */
/*****************************************************************************/
/*            ! Some CSS for this is done from jQuery CSS file !             */
/*****************************************************************************/
.ui-tabs {
	border: 0 none;
	padding: 0;
}

.ui-tabs .ui-tabs-panel {
	background-color: #EBEBEB;
	border-left: 1px solid #8E8E8E;
	border-right: 1px solid #8E8E8E;
	border-bottom: 1px solid #8E8E8E;
	outline: 0 none;
}

.ui-tabs .ui-tabs-nav {
	background: url("images/backgrounds.png") no-repeat scroll left -629px
		transparent;
	border: 0 none;
	height: 22px;
	padding: 0;
}

.ui-tabs .ui-tabs-nav li {
	background: url("images/backgrounds.png") no-repeat scroll left -606px
		transparent;
	border: 0 none;
	height: 22px;
	margin: 0;
	top: 0;
	padding: 0 0 0 3px;
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs .ui-tabs-nav li a:link,.ui-tabs .ui-tabs-nav li a:active,.ui-tabs .ui-tabs-nav li a:hover,.ui-tabs .ui-tabs-nav li a:focus
	{
	font: 14px Calibri, Arial, sans-serif;
	padding: 3px 10px 3px 7px;
	background: url("images/backgrounds.png") no-repeat scroll right -606px
		transparent;
	color: #333;
	outline: 0 none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background-position: left -557px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:link,.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:active,.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover,.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:focus
	{
	background-position: right -557px;
	color: #FFF;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover {
	background-position: left -582px;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover a {
	background-position: right -582px;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover.ui-tabs-selected {
	background-position: left -557px;
}

.ui-tabs .ui-tabs-nav li.ui-state-focus,.ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-selected
	{
	background-position: left -675px;
}

.ui-tabs .ui-tabs-nav li.ui-state-focus a,.ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-selected a
	{
	background-position: right -675px;
}

.ui-tabs .ui-tabs-nav li.ui-state-disabled {
	opacity: 1;
}

.ui-tabs .ui-tabs-nav li.ui-state-disabled a {
	color: #999;
}

/*****************************************************************************/
/*                                 Breadcrumb                                */
/*****************************************************************************/
.breadcrumb {
	font-size: 12pt;
}

.breadcrumb ul {
	padding: 0;
	list-style: none;
	margin-bottom: 0;
}

.breadcrumb ul li {
	display: inline-block;
	color: #5275A8;
	width: auto;
	background: none;
	padding: 0;
}

.breadcrumb ul li:first-child:before{
	content: "";
	margin: 0px 0px 0px 0px;
}

.breadcrumb ul li:before {
	content: url('images/breadcrumb_arrow.png');
	margin: 0px 5px 0px 3px;
}

.breadcrumb ul li b{
	font-weight:bold;
}

.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active{
	color: #5275A8
}



/*****************************************************************************/
/*                                 Group Box                                 */
/*****************************************************************************/
.group-box {
	background-color: #DDDFDF;
	border: 1px solid #999;
	padding: 10px;
}

/*****************************************************************************/
/*                                Separators                                 */
/*****************************************************************************/
.separator-right {
	border-right: 1px solid #A6A8AB;
	padding: 0 5px 0 0;
}

.separator-bottom {
	border-bottom: 1px solid #A6A8AB;
}

/*****************************************************************************/
/*                                  Slider                                   */
/*****************************************************************************/
/* Sliders are build with some divs.                                         */
/* This styles primarily overwrites the standard jQuery styles for sliders.  */
/*****************************************************************************/
/*            ! Some CSS for this is done from jQuery CSS file !             */
/*****************************************************************************/

/*Styles for slider-bar and handle*/
.ui-slider {
	background: url("images/backgrounds.png") no-repeat scroll left -656px
		#FFF;
	border: 0 none;
	height: 5px;
	padding: 0 0 0 5px;
	width: 100px;
}

.ui-slider .ui-slider-inner {
	background: url("images/backgrounds.png") no-repeat scroll right -656px
		#FFF;
	height: 5px;
}

.ui-slider .ui-slider-handle {
	background: url("images/backgrounds.png") no-repeat scroll -248px -464px
		transparent;
	border: 0 none;
	height: 10px;
	margin: 1px 0 0 -5px;
	width: 13px;
	outline: 0 none;
}

/*Styles for focus, hover and active of the handle*/
.ui-slider .ui-slider-handle.ui-state-focus {
	background-position: -264px -464px;
}

.ui-slider .ui-slider-handle.ui-state-focus.ui-state-active {
	background-position: -264px -484px;
}

.ui-slider .ui-slider-handle.ui-state-hover,.ui-slider .ui-slider-handle.ui-state-focus:hover
	{
	background-position: -248px -474px;
}

.ui-slider .ui-slider-handle.ui-state-active,.ui-slider .ui-slider-handle.ui-state-focus.ui-state-active:hover
	{
	background-position: -248px -484px;
}

/*Styles for disabled sliders*/
.ui-slider.ui-disabled {
	background-position: left -666px;
}

.ui-slider.ui-disabled .ui-slider-inner {
	background-position: right -666px;
}

.ui-slider.ui-disabled .ui-slider-handle {
	background-position: -248px -494px;
}

/*****************************************************************************/
/*                                Datepicker                                 */
/*****************************************************************************/
/* A Datepicker is a complex structure and comes with jQuery. It is          */
/* primarily build with a table and this styles overwrites some of the       */
/* default jQuery styles...                                                  */
/*****************************************************************************/
/*            ! Some CSS for this is done from jQuery CSS file !             */
/*****************************************************************************/
.ui-datepicker-wrap {
	background: url("images/backgrounds.png") no-repeat scroll 0 bottom #FFF;
	padding: 0 0 16px;
	width: 210px;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background: url("images/backgrounds.png") no-repeat scroll 0 bottom #FFF;
	padding: 0 0 16px;
	margin: 0;
	width: 210px;
	border: 0 none;
	text-align: right;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close
	{
	background: url("images/backgrounds.png") no-repeat scroll -3px -73px
		transparent;
	border: 1px solid #999999;
	color: #333333;
	float: none;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 5px;
	opacity: 1;
	padding: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current.ui-state-hover,.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close.ui-state-hover
	{
	background-position: -3px -95px;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current.ui-state-hover:active,.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close.ui-state-hover:active
	{
	background-position: -3px -119px;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {
	margin: 0 13px 0 5px;
}

.ui-datepicker {
	border: 0 none;
	padding: 0;
	width: 210px;
	background: url("images/backgrounds-repeat-y.png") repeat-y scroll
		-104px 0 #FFF;
}

.ui-datepicker .ui-datepicker-header {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	text-align: center;
	width: 210px;
	background: url("images/backgrounds.png") no-repeat scroll left -700px
		#FFF;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	line-height: 19px;
	margin: 11px 0 3px;
	padding: 0;
	text-align: center;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title span {
	background-color: #7BB51D;
	font-size: 14px;
	padding: 1px 3px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	top: 10px;
	right: 9px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
	background: url("images/backgrounds.png") no-repeat scroll -3px -463px
		transparent;
	height: 17px;
	margin-left: -7px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-hover span
	{
	background-position: -64px -463px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-hover:active span
	{
	background-position: -3px -482px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-hover,.ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-hover
	{
	border: 0 none;
	background: transparent;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
	background: url("images/backgrounds.png") no-repeat scroll -45px -463px
		transparent;
	height: 17px;
	margin-left: -7px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-hover span
	{
	background-position: -106px -463px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-hover:active span
	{
	background-position: -45px -482px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
	top: 10px;
	left: 10px;
}

.ui-datepicker .ui-datepicker-calendar {
	font-size: 14px;
	margin: 0 15px 5px 17px;
	width: 180px;
}

.ui-datepicker .ui-datepicker-calendar tbody td {
	border: 1px solid #999999;
	background-color: #FFF;
}

.ui-datepicker .ui-datepicker-calendar tbody td.ui-state-disabled {
	background-color: #D0D0D0;
	opacity: 1;
}

.ui-datepicker .ui-datepicker-calendar tbody td a {
	padding: 0;
	border: 0 none;
	color: #333333;
	text-align: center;
	background: #FFF;
}

.ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-current-day
	{
	background-color: #DBE6B2;
}

.ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-today a {
	font-weight: bold;
}

.ui-datepicker .ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #9EC558;
}

.ui-datepicker .ui-datepicker-calendar tbody td a.ui-state-hover {
	background-color: #D4E4B4;
	outline: 1px solid #C8DDA0,
}

.ui-datepicker .ui-datepicker-calendar thead th {
	padding: 0;
	background: #8B8685;
	border: 1px solid #999;
	color: #FFF;
}

img.ui-datepicker-trigger {
	height: 18px;
	left: -24px;
	position: relative;
	top: 5px;
	width: 22px;
}

}

/*****************************************************************************/
/*                                Timepicker                                 */
/*****************************************************************************/
/* A Datepicker is a complex structure and comes with a jQuery Plugin. It is */
/* primarily build with a table and this styles overwrites some of the       */
/* default plugin styles...                                                  */
/*****************************************************************************/
/*            ! Some CSS for this is done from plugin CSS file !             */
/*****************************************************************************/
.ui-timepicker.ui-widget,.ui-timepicker.ui-widget#ui-timepicker-div {
	background: url("images/backgrounds.png") no-repeat scroll 0 bottom #FFF;
	border: 0 none;
	width: 210px;
	display: block;
	padding: 0 0 15px;
}

.ui-timepicker.ui-widget .ui-timepicker-table {
	border: 0 none;
	width: 210px;
	background: url("images/backgrounds.png") no-repeat scroll left -700px
		#FFFFFF;
	display: block;
	padding: 15px 0 0;
}

.ui-timepicker.ui-widget .ui-timepicker-table>tbody {
	background: url("images/backgrounds-repeat-y.png") repeat-y scroll
		-104px 0 #FFF;
}

.ui-timepicker.ui-widget .ui-timepicker-table>tbody table tbody {
	background: transparent;
}

.ui-timepicker.ui-widget .ui-timepicker-table tr td table {
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

.ui-timepicker.ui-widget .ui-timepicker-table tr td {
	width: 14px;
	padding: 0;
}

.ui-timepicker.ui-widget .ui-timepicker-table tr td a {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #999;
	border-style: solid none none solid;
	border-width: 1px 0 0 1px;
	font-size: 14px;
	padding: 2px 1px 3px 3px;
	width: 14px;
	color: #333;
	outline: 0 none;
}

.ui-timepicker.ui-widget .ui-timepicker-table tr td a.ui-state-hover {
	background-color: #D4E4B4;
}

.ui-timepicker.ui-widget .ui-timepicker-table tr td a.ui-state-active {
	background-color: #9EC558;
}

.ui-timepicker.ui-widget .ui-timepicker-table td.ui-timepicker-hours {
	padding: 0 5px 5px 16px;
}

.ui-timepicker.ui-widget .ui-timepicker-table td.ui-timepicker-minutes {
	padding: 0 15px 5px 3px;
}

.ui-timepicker.ui-widget .ui-timepicker-table .ui-timepicker-title {
	font-size: 14px;
	background: #7AB817;
	border: 0 none;
}

.ui-timepicker.ui-widget .ui-timepicker-table td.ui-timepicker-hours .ui-timepicker-title
	{
	width: 115px;
}

.ui-timepicker.ui-widget .ui-timepicker-table td.ui-timepicker-minutes .ui-timepicker-title
	{
	width: 58px;
}

.ui-input-wrap #timepicker-button-trigger {
	height: 20px;
	left: 9px;
	position: relative;
	top: 5px;
	width: 22px;
}

/*****************************************************************************/
/*                                Search Box                                 */
/*****************************************************************************/
.search-box label {
	width: auto;
}

.search-box img {
	background: url("images/backgrounds.png") no-repeat scroll 0 bottom
		transparent;
}