.container(my-loading-spinner='viewLoading')
  .row
    div(ng-include="'projects/project/legalprofiles/legalprofile/legalprofile-edit-toc.jade'")
    div(ng-include="'projects/project/legalprofiles/legalprofile/legalprofile-edit-section.jade'")
