.col-lg-offset-1.col-lg-10(my-loading-spinner='viewLoading')
  .row
    div(ng-include="'projects/project/legalprofiles/legalprofile/legalprofile-toc.jade'")
    div(ng-include="'projects/project/legalprofiles/legalprofile/legalprofile-section.jade'")
