html, body {
	text-align: left;
        margin-left: 1%;
}

* {
	font-family: Calibri, Arial;
	text-align: left;
	color: #58595B;
	font-size: 1em;
	line-height: 1.2em;
}

h1 {
	color: #7AB817;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 15px;
	margin-top: 30px;
	width: 725px;
}

h2 {
	font-weight: bold;
	font-size: 1.2em;
}

a, a:link, a:visited, a:hover, a:focus, a:active {
	color: #1977D1;
	outline: 0 none;
	text-decoration: none;
}

a p, a:link p, a:visited p, a:hover p, a:focus p, a:active p {
	color: #1977D1;
	outline: 0 none;
	text-decoration: none;
        cursor: pointer;
}

a.active {
	font-weight: bold;
}

p {
	margin: 10px 0;
	width: 725px;
}

li {
	width: 725px;
}

.navigation {
	margin-bottom: 18px;
}

.navigation a {
	padding: 1px 8px;
	border: 1px solid #d0d2d3;
	border-left: none;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6f5', endColorstr='#e3e1e1');
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f6f5), to(#e3e1e1));
	background: -moz-linear-gradient(top, #f7f6f5, #e3e1e1);
	background: linear-gradient(top, #f7f6f5, #e3e1e1);
}

.navigation a.first {
	border-left: 1px solid #d0d2d3;
	-moz-border-radius-bottomleft: 11px;
	border-bottom-left-radius: 11px;
	-moz-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
}

.navigation a.last {
	-moz-border-radius-bottomright: 11px;
	border-bottom-right-radius: 11px;
	-moz-border-radius-topright: 11px;
	border-top-right-radius: 11px;
}

/* button fix */
span button, .ui-button {
	margin-left: 0px !Important;
}

ol {
	list-style: decimal;
	padding-left: 30px;
}

blockquote {
	width: 725px;
}

.reference {
	color: #999;
}

.abstract {
	font-weight: bold;
}

.issue {
	width: 700px;
	margin-bottom: 10px;
}

.issue .label {
	width: 20px;
	background: #7ab817;
	color: #fff;
	text-align: center;
	padding: 2px;
	-moz-border-radius-bottomleft: 11px;
	border-bottom-left-radius: 11px;
	-moz-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
}

.issue .content {
	width: 640px;
	background: #dedede;
	padding: 10px;
	-moz-border-radius-bottomright: 11px;
	border-bottom-right-radius: 11px;
	-moz-border-radius-topright: 11px;
	border-top-right-radius: 11px;
}

.issue .content a {
	/* color: #58595B; */
	text-decoration: none;
}

.content ul {
	margin: 0px;
	padding-left: 16px;
}

.content ul li {
	width: 490px;
}

.position, .reasoning {
	width: 700px;
	margin-bottom: 10px;
	background: #c1c7d2;
	-moz-border-radius: 11px;
	border-radius: 11px;
	padding: 10px;
}

.position .label, .reasoning .label {
	width: 140px;
	padding-left: 10px;
	color: #383636;
	vertical-align: top;
}

.position .label a {
	color: #383636;
}

.position .content, .position .content a {
	color: #383636;
}

.reasoning {
	background: #dedede;
}

.reasoning .label, .reasoning .content, .reasoning .content a, .reasoning .label a {
	color: #58595B;
}

#menu {
    float: left;
}

#ageditormenu {
    margin-left: 30%;
}

#ageditormenuon {
    margin-left: 20%;
}

.pm-editor {
    border-style:solid;
    border-width:2px;
    border-color: purple;
    width: 725px; 
}

#statementeditortitle {
    font-weight: bold;
}

.ui-textarea {
    height: 100px;
    width: 95%;
}

#atom, #metadata-title, #metadata-key {
    width: 95%;
}

.editor-section-title {
    font-weight: bold;
}

.statement-select {
    width: 600px;
}

#editor-argument-scheme {
    width: 400px;
}