.conclusion-text {
    margin-left: 2%;
}

.properties {
    margin-top: 10px;
}

.conclusion-indication, .premises-indication, .argument-indication, .premise-of-indication, .exceptions-indication {
   font-style: italic;
   margin-bottom: 4px;
}

.exceptions-indication {
    margin-top: 4px;
}

.references .scrolled {
    background-color: lemonchiffon;
}

.object-key {
    font-weight: bold;
    cursor: select;
    vertical-align: baseline;
}

.object-value {
    padding-left: 10px;
}

.statement-text {
    margin-bottom: 20px;
}

ul.icon li:before {
    width: 3.5em;
    float: left;
}

.evaluation-undefined-32x32-after:after {
    content: url("../../../../../images/circle_grey_32x32.png");
}

.evaluation-in-32x32-after:after {
    content: url("../../../../../images/circle_green_32x32.png");
}

.evaluation-out-32x32-after:after {
    content: url("../../../../../images/circle_red_32x32.png");
}

.evaluation-undecided-32x32-after:after {
    content: url("../../../../../images/circle_orange_32x32.png");
}

.evaluation-undefined-24x24-after:after {
    content: url("../../../../../images/circle_grey_24x24.png");
}

.evaluation-in-24x24-after:after {
    content: url("../../../../../images/circle_green_24x24.png");
}

.evaluation-out-24x24-after:after {
    content: url("../../../../../images/circle_red_24x24.png");
}

.evaluation-undecided-24x24-after:after {
    content: url("../../../../../images/circle_orange_24x24.png");
}

.evaluation-undefined-32x32-before:before {
    content: url("../../../../../images/circle_grey_32x32.png");
    margin-right: 12px;
}

.evaluation-in-32x32-before:before {
    content: url("../../../../../images/circle_green_32x32.png");
    margin-right: 12px;
}

.evaluation-out-32x32-before:before {
    content: url("../../../../../images/circle_red_32x32.png");
    margin-right: 12px;
}

.evaluation-undecided-32x32-before:before {
    content: url("../../../../../images/circle_orange_32x32.png");
    margin-right: 12px;
}

.evaluation-undefined-24x24-before:before {
    content: url("../../../../../images/circle_grey_24x24.png");
    margin-right: 12px;
}

.evaluation-in-24x24-before:before {
    content: url("../../../../../images/circle_green_24x24.png");
    margin-right: 12px;
}

.evaluation-out-24x24-before:before {
    content: url("../../../../../images/circle_red_24x24.png");
    margin-right: 12px;
}

.evaluation-undecided-24x24-before:before {
    content: url("../../../../../images/circle_orange_24x24.png");
    margin-right: 12px;
}

.schemeOut h4, a.schemeOut {
    background-color: tomato;
}

.schemeIn h4, a.schemeIn {
    background-color: lightgreen;
}

.schemeUndecided h4, a.schemeUndecided {
    background-color: lightgray;
}
