.premises_text {
   font-style: italic;
   margin-bottom: 4px;
}


.conclusion_text {
   font-style: italic;
   margin-bottom: 4px;
}


.references .scrolled {
    background-color: lightblue;
}

.metadataKey {
    font-weight: bold;
    cursor: select;
    vertical-align: baseline;
}

.metadataValue {
    padding-left: 10px;
}


.statementText {
    margin-bottom: 20px;
}