.premises-text {
   font-style: italic;
   margin-bottom: 4px;
}


.conclusion-text {
   font-style: italic;
   margin-bottom: 4px;
}


.references .scrolled {
    background-color: lemonchiffon;
}

.object-key {
    font-weight: bold;
    cursor: select;
    vertical-align: baseline;
}

.object-value {
    padding-left: 10px;
}


.statement-text {
    margin-bottom: 20px;
}

.evaluation-undefined-32x32-after::after {
    content: url("../../../../../images/circle_grey_32x32.png");
    vertical-align: -13%;
    padding-left: 10px;
}

.evaluation-in-32x32-after::after {
    content: url("../../../../../images/circle_green_32x32.png");
    vertical-align: -13%;
    padding-left: 10px;
}

.evaluation-out-32x32-after::after {
    content: url("../../../../../images/circle_red_32x32.png");
    vertical-align: -13%;
    padding-left: 10px;
}

.evaluation-undecided-32x32-after::after {
    content: url("../../../../../images/circle_orange_32x32.png");
    vertical-align: -13%;
    padding-left: 10px;
}

.evaluation-undefined-32x32-before::before {
    content: url("../../../../../images/circle_grey_32x32.png");
    vertical-align: -50%;
    padding-right: 10px;
}

.evaluation-in-32x32-before::before {
    content: url("../../../../../images/circle_green_32x32.png");
    vertical-align: -50%;
    padding-right: 10px;
}

.evaluation-out-32x32-before::before {
    content: url("../../../../../images/circle_red_32x32.png");
    vertical-align: -50%;
    padding-right: 10px;
}

.evaluation-undecided-32x32-before::before {
    content: url("../../../../../images/circle_orange_32x32.png");
    vertical-align: -50%;
    padding-right: 10px;
}