.navbar {
  border-radius: 0;
  min-height: 0;
  margin-bottom: 0;
}

.font-inc-130 {
  font-size: 130%;
}

.mob-bc-head {
  float:left;
  background-color: $breadcrumbs-border;
  ul {
    @include inline-list;
    > li {
      > a {
        color: $breadcrumbs-link-color;
        display: block;
        float: left;
        position: relative;
        line-height: $breadcrumbs-height;
        padding: 0 1em 0 1.5em;
        text-decoration: none;
        background: $breadcrumbs-border;
        &:hover {
            color: $breadcrumbs-link-hover-color;
            cursor: pointer;
        }
      }
    }
  }
}

.navbar-default {
  background:$body-bg;
}

#mobheader .border-bottom {
    border-bottom: 1px solid $breadcrumbs-link-color !important;
}

#mobbcnavdetails {
  > ul {
    padding: 5px 0px 5px 79px !important;
    list-style:none;
  }
}

#mobnavdetails {
  font-size:88%;
  padding: 0.5em 1.5em 1.5em 1.5em !important;
  background: none repeat scroll 0% 0% $breadcrumbs-border;

  .navbar-default {
    background: none repeat scroll 0% 0% $breadcrumbs-border;
  }

  .nav-pills {
    > li {
      float: none;
      border-bottom: 1px solid $breadcrumbs-link-hover-color;
    }
  }

  .nav {
    > li {
      > a {
        &:active, &:hover {
          background: none repeat scroll 0% 0% $breadcrumbs-border;
        }
        &:hover {
          cursor: pointer;
          color: $breadcrumbs-link-hover-color;
        }
      }
    }
  }
}

@media (max-width: $grid-float-breakpoint - 1) {
  #mobheader {
    display:block;
    background-color: $breadcrumbs-border;
    margin: 0 0 0 -10px !important;
    .navbar-toggle {
      z-index:100;
      float: left;
      border-width: 0;
      border-radius: 0;
      margin: 0 10px 0 0 !important;
      border-right: 1px solid #428BCA !important;
      padding: 9px 15px 9px 10px !important;
      > .icon-bar {
        background-color: $breadcrumbs-link-color;
      }
      &:hover, &:active {
        background-color: $breadcrumbs-border;
      }
    }
    .disabled {
        cursor: default;
        .icon-bar {background-color: #A8AEB4;}
    }


    #mobbc {
      margin:1px 0 0 0 !important;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  #mobheader {
    display:none;
  }
}

@media (max-width: $grid-float-breakpoint - 1) {
  #global {
    position: absolute;
    top: -1000px;
  }
}

@media (min-width: $grid-float-breakpoint) {
  #global {
    clear:both;
    margin:0 auto -9px;
    background-color:$breadcrumbs-border;
  }
}

@media (max-width: $grid-float-breakpoint - 1) {
#subnav {
  .nav {
    > ul {
      display: table;
      width: 100%;
    }
    > li {
      display: table-cell;
      table-layout: fixed;
      border-spacing: 5px;
      > a {
        border-radius: 0;
        cursor: pointer;
        &:hover { text-decoration: underline; }
      }
      &.divider {visibility: hidden;}
    }
  }
}
}

@media (min-width: $grid-float-breakpoint) {
#subnav {
  background:$body-bg;
  z-index: 100;
  font-size: 90%;
  a { color: $link-color; }

  .nav {
    float: right;
    .nav-pills {
      > li {
        > a {
          border-radius: 0;
          cursor: pointer;
          &:hover { text-decoration: underline; }
        }
      }
    }

    > li {
      > a {
        padding: 5px 10px;
        cursor: pointer;
        &:hover,
        &:focus {
          border-bottom-color: $breadcrumbs-bg;
          background-color: $body-bg;
          text-decoration: underline;
        }
      }

      &.divider {
        > a {
          padding: 5px 0;
          &:hover,
          &:focus { border: 0; }
          &:after { content: '|'; }
        }
      }
    }
  }

  &.ui-scrollfix {
    top: 0;
    position:fixed;
    width: 100%;
    background:$breadcrumbs-bg;
  }
}
}
