%table
  %tr{"ng-repeat" => "(k,v) in model"}
    %td.metadataKey{"ng-show" => "v"}
      .span{translate: "{{getTranslateKey(k)}}"} {{k}}
    %td.metadataValue{"ng-show" => "v"}
      %markdown{extensions: "carneades", "ng-model" => "v"}
