%div{"ng-repeat" => "(k,v) in model"}
  %div{"ng-show" => "v", "ng-controller" => "MetadataCtrl"}
    .metadataKey{translate: "{{getTranslateKey(k)}}"} {{k}}
    %markdown{extensions: "carneades", "ng-model" => "v"}
    
