%dl{"ng-repeat" => "(k,v) in model"}
  %dt{"ng-show" => "v"}
    .metadataKey{translate: "{{getTranslateKey(k)}}"} {{k}}
  %dd{"ng-show" => "v"}
    %markdown{extensions: "carneades", "ng-model" => "v"}
