<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>PolicyModellingTool</display-name>
    <servlet>
        <servlet-name>PolicySimulation</servlet-name>
        <servlet-class>org.fokus.carneades.servlets.PolicySimulation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Knowledgbase</servlet-name>
        <servlet-class>org.fokus.carneades.servlets.Knowledgbase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PolicyEvaluation</servlet-name>
        <servlet-class>org.fokus.carneades.servlets.PolicyEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVG</servlet-name>
        <servlet-class>org.fokus.carneades.servlets.SVG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Knowledgbase</servlet-name>
        <url-pattern>/kb/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PolicyEvaluation</servlet-name>
        <url-pattern>/PolicyEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PolicySimulation</servlet-name>
        <url-pattern>/PolicySimulation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVG</servlet-name>
        <url-pattern>/svg/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
