%div{"ng-repeat" => "scheme in section.schemes"}
  .section{"ng-controller" => "SchemeCtrl", id: "{{scheme.id}}"}
    .page-header
      %h4 {{scheme.header.title}}

    %metadata{model: "scheme.header", skipped: "['title']"}

    -# %h5{translate: "projects.premises"} Premises
    .span{translate: "projects.premises_text", class: "premises-indication"}

    %ul
      %li{"ng-repeat" => "premise in scheme.premises"}
        {{premise['translation']}}

    -# %h4{translate: "projects.conclusion"} Conclusion
    %span{class: "conclusion-indication"}
      {{conclusion_text}}
    %br
    %span{class: "conclusion-text"}
      {{scheme['conclusion-translation']}}
      
    %div{"ng-show" => "scheme.exceptions.length > 0"}
      .span{translate: "projects.exceptions_text", class: "exceptions-indication"}

      %ul
        %li{"ng-repeat" => "exceptions in scheme.exceptions"}
          {{exceptions['translation']}}


    -# %h4{translate: "projects.properties"} Properties
    %properties{keys: "[['id', 'projects.id'],
                        ['weight', 'projects.weight']]", 
                    model: "scheme"}

