div(ng-repeat='scheme in section.schemes')
  .section(ng-controller='SchemeCtrl', id='{{scheme.id}}')
    .page-header
      h4 {{scheme.header.title}}

    metadata(model='scheme.header',skipped="['title']")

    .span.premises-indication {{'projects.premises_text' | translate}}

    ul
      li(ng-repeat='premise in scheme.premises') {{premise['translation']}}

    span.conclusion-indication {{conclusion_text}}
    br
    span.conclusion-text {{scheme['conclusion-translation']}}

    div(ng-show="scheme.exceptions.length > 0")
      .span.exceptions-indication {{'projects.exceptions_text' | translate}}

      ul
        li(ng-repeat='exceptions in scheme.exceptions') {{exceptions['translation']}}
    
    properties(keys="[['id', 'projects.id'],['weight', 'projects.weight']]", model="scheme")
