%div{class: "theory-section"}
  %h2{{id: "{{section.id}}"}} {{section.header.title}}
  %markdown{{"ng-model" => "section.header.description[lang]",
               extensions: "carneades"}}
  %div{"ng-show" => "section.schemes.length > 0",
       "ng-include" => "'project/theory/theory-schemes.tpl.html'"}

  %div{"ng-repeat" => "section in section.sections"}
    %div{"ng-include" => "'project/theory/theory-section.tpl.html'"}
