.page-header
  h2(id='{{section.id}}', ng-bind='section.header.title')
  markdown(ng-model='section.header.description',extensions='carneades')
div(
  ng-show="section.schemes.length > 0",
  ng-include="'projects/project/theory/theory-schemes.jade'")
    // div(ng-repeat='section in section.sections')
    //   div(ng-include="'projects/project/theory/theory-subsection.jade'")
