.container
  .section
    .page-header
      %h1{translate: "projects.theory"} Theory 
  .row  
    %div{"ng-include" => "'project/theory/theory-toc.tpl.html'"}
    %div{"ng-include" => "'project/theory/theory-section.tpl.html'"}
