@import 'compass';

$height: 2em;
$default-border-radius: 4px;

.navbar {
    min-height: $height;
}
.navbar-fixed-top {
    border-width: 0;
}

.breadcrumbs {
    border: {
        bottom: 1px solid #428bca;
    }
    
    @include clearfix;
  
    > ul {
        @include inline-list;

        > li:first-child {
            > a {
                font-weight: 800;
            }
        }
      
        > li:last-child {
            > a {     
                &:after { content: normal; }
            }
        }

        > li {
            > a {
                color: $navbar-inverse-brand-hover-color;
                display: block;
                float: left;
                position: relative;
                line-height: $height;
                padding: 0 1em 0 1.5em;
                background: $navbar-inverse-bg;
                text-decoration: none;

                @include make-breadcrumb-link-after(); 
            }
            &.active {
                > a {
                    color: #428bca;
                    @include text-shadow(0 -1px 0 rgba(0,0,0,0.5));
                    background: $breadcrumb-inverse-border;

                    &:after {
                        border-color: $breadcrumb-inverse-border;
                        background: $breadcrumb-inverse-border;
                    }
                }
            }
            &.hover {
                > a {
                    color: $navbar-inverse-brand-hover-color;
                    background: #428bca;

                    &:after {
                        border-color: #428bca;
                        background: #428bca;
                    }
                }
            }

            @include make-breadcrumb-levels();
        }
    } 
}

#content {
  background: #ffffff;
}
