<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>CarneadesWS-web</display-name>
    <servlet>
        <servlet-name>CarneadesServlet</servlet-name>
        <servlet-class>org.fokus.carneades.CarneadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KnowledgbaseServlet</servlet-name>
        <servlet-class>org.fokus.carneades.KnowledgbaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarneadesServletDemo</servlet-name>
        <servlet-class>org.fokus.carneades.CarneadesServletDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarneadesServlet</servlet-name>
        <url-pattern>/CarneadesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KnowledgbaseServlet</servlet-name>
        <url-pattern>/kb/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarneadesServletDemo</servlet-name>
        <url-pattern>/CarneadesServletDemo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
