#menu {
    float: left;
}

#ageditormenu {
    margin-left: 30%;
}

#ageditormenuon {
    margin-left: 20%;
}

.pm-editor {
    border-style:solid;
    border-width:2px;
    border-color: purple;
    width: 725px;
}

#statementeditortitle {
    font-weight: bold;
}

.ui-textarea {
    height: 100px;
    width: 95%;
}

#editor-statement-atom, #metadata-title, #metadata-key {
    width: 600px;
}

.editor-section-title {
    font-weight: bold;
}

.statement-select {
    width: 600px;
}

#argument-editor-scheme {
    width: 400px;
}

.error {
    color: red;
}
