#menu {
    float: left;
}

#ageditormenu {
    margin-left: 30%;
}

#ageditormenuon {
    margin-left: 20%;
}

.editormenu {
    margin-left: 20%;
}

.pm-editor {
    border-style:solid;
    border-width:2px;
    border-color: purple;
    width: 725px;
}

#statementeditortitle {
    font-weight: bold;
}

.ui-textarea {
    height: 100px;
    width: 95%;
}

#editor-statement-atom, #metadata-title, #metadata-key,
.metadata-description-input {
    width: 600px;
}

.metadata-element-name {
    font-style: italic;
    width: 200px;
}

.metadata-element-input {
    width: 80%;
}

.metadata-element-editor .delete {
    margin-top: 3px;
    background: transparent url('images/destroy.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
}

.metadata-element-editor .delete:hover {
    background-position: 0 -20px;
    cursor: pointer;
}

.editor-section-title {
    font-weight: bold;
}

.statement-select {
    width: 600px;
}

.conclusion-select, .select2-container {
    width: 680px;
}

#argument-editor-scheme {
    width: 400px;
}

.error {
    color: red;
}

.premiseproperties {
    float: left;
}

.premise-candidate {
    position: relative;
}

.premise-candidate .delete {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    display: none;
}

.premise-candidate:hover {
    border: 1px dashed; 
}

.premise-candidate:hover .delete {
    display: block;
    background: transparent url('images/destroy.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
}

.premise-candidate .delete:hover {
    background-position: 0 -20px;
    cursor: pointer;
}

.premise-candidate .create {
    background: transparent url('images/list-add.png');
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50px;
    right: 3px;
    text-align: right;
    display: none;
}

.premise-candidate:hover .create {
    display: block;
    cursor: pointer;
}


.premise-positive-attr {
    position: absolute;
    top: 5px;
    right: 55px;
}

.premise-implicit-attr {
    position: absolute;
    top: 5px;
    right: 135px;
    display: none;
}

.premise-candidate:hover .premise-implicit-attr {
    display: block;
}

.conclusion-select {
    position: relative;
    width: 100%;
    height: 50px;
}

.conclusion-select:hover {
    border: 1px dashed;
}

.conclusion-select .create {
    position: absolute;
    background: transparent url('images/list-add.png');
    width: 22px;
    height: 22px;
    display: none;
    top: 3px;
    right: 8px;
}

.conclusion-select:hover .create {
    display: block;
    cursor: pointer;
}

#conclusionprefix {
    float: left;
}

.button {
    cursor: pointer;
}

.language-chooser ul {
    width: 699px;
    height: 25px;
}

.language-chooser ul li {
    height: 25px;
}

.language-chooser .lang {
    padding-top: 1px;
}

.scheme {
    /* border-style:solid; */
    /* border-width:1px; */
}

.metadata-table {
    width: 735px;
}

.rule-body ul {
    margin-top: 0px;
}

.rule-conclusion {
    margin-left: 50px;
}

.rule-body {
    margin-left: 8px;
}

#statement-editor-weight {
    width: 36px;
}

.argument-editor-weight {
    width: 36px;
}

.start {
    width: 100px;
}

.sct-question-text {
    font-weight: bold;   
}

.change-score {
    cursor: pointer;
}

.sct-claim-editor {
    border-color: purple;
}

.agreement-status {
    font-weight: bold;   
}

.rule-body ul {
    margin-bottom: 0px;
}