

lkif {
    display:block;
    font-size: medium;
    font-family: Arial, Sans-serif;
}

sources:before {
    display: block;
    content: "sources";
    font-weight: bold;
}

source {
    display: block;
    margin-left: 2em;
    line-height: 0em;
    content: attr(element)": " attr(uri)
}

theory:before {
    font-weight: bold;
    content: "theory "
}

theory {
    display: block;
    content: attr(id) ". ";
}

imports:before {
   font-weight: bold;
   content: "imports ";
}

imports {
    margin-left: 2em;
    margin-bottom: 2em;
    display: block;
}   

axioms:before {
    font-weight: bold;
    content: "axioms ";
}

axioms {
    margin-left: 2em;
    margin-bottom: 2em;
    display: block;
}

axioms > or, if, iff, exists, all, not, and, s {
    margin-left: 2em;
    display: block;
}
 
rules:before {
    font-weight: bold;
    content: "rules ";
}

rules {
    display: block;
    margin-left: 2em;
    margin-bottom: 2em;
}
   
import:before {
    font-weight: bold;
    margin-left: 2em;
    content: "import ";
}

import {
    content: attr(uri);
    margin-left: 2em;
    display: block;
}


rule:before {
    content: "rule ";
    font-weight: bold;
}

rule {
    content: attr(id) ". ";
    margin-left: 2em;
    margin-bottom: 2em;
    display: block;
}

head:before {
    /* content: "conclusions "; */
    font-weight: bold;
    /* display: block; */
    margin-left: 1em;
}

head {
    display: block;
    margin-left: 2em;
}

body:before {
    content: "given";
    font-weight: bold;
    display: block;
    margin-left: 1em;
}

body {
    margin-left: 2em;
    display: block;
}

s {
    quotes: '"' '"' "'" "'";
    margin-left: 2em;
}

or > s {
    display: block;
    margin-left: 1em;
}

and > s {
    display: block;
    margin-left: 1em;
}

unless:before {
    content: "unless ";
    font-weight: bold;
}

assuming:before {
    content: "assuming ";
    font-weight: bold;
}

or:before { 
    content: "at least one of the following is true:";
    display: block;
}

or {
    display: block;
    margin-left: 1em;
}


if:before {
    content: "if ";
}

if > s+s:before {
    content: " then ";
}

iff:before {
    content: "if and only if ";
}

iff > s+s:before {
    content: " then ";
}

and:before { 
    content: "all of the following are true:";
    display: block;
}

and {
    display: block;
    margin-left: 1em;
}

not:before {
    content: "it is not the case that:";
    display: block;
}

not {
    display: block;
    margin-left: 2em;
}


s > s {
    display: inline;
    content: ""
}

s > s:before { content: open-quote }
s > s:after { content: close-quote }

v {
    text-decoration: underline;
}

c {
    font-style: normal;
}


argument-graph:before {
    display: block;
    content: "argument graph";
    font-weight: bold;
}


statements:before {
    font-weight: bold;
    content: "statements"
}

statements {
    margin-left: 2em;
    display: block;
}

statements > s {
    margin-left: 2em;
    display: block;
}

statements > s:before {
    content: attr(id) ". ";
}


arguments:before {
    content: "arguments ";
    font-weight: bold;
}

arguments {
    display: block;
    margin-left: 2em;
}

argument {
    content: attr(id) ". ";
    margin-left: 2em;
    display: block;
    margin-top: 1em;
}

conclusion {
     content: attr(statement)
}

conclusion:after {
    content: " since";
    font-weight: bold;
}
    
premises {
    display: block;
    margin-left: 2em;
}

premise[type="exception"]:before {
    content: "unless ";
}

premise[type="assumption"]:before {
    content: "assuming ";
}

premise {
    display: block; 
    margin-left: 1em;
    content: attr(statement)
}

