.page-header
  h1 Main Issues
ul.list-group
  li.list-group-item(ng-repeat='issue in issues')
    evaluation-indicator(value='issue.value',size='32x32',position='before')
      a.statement(ui-sref='home.projects.project.statement({pid: $stateParams.pid, db: $stateParams.db, sid: issue.id})',rel='address:{{ issue.url }}',id='statement{{ issue.id }}')
        {{issue.text}}