.container.project
  .row
    .col-md-9{:role => "main"}
      .section{:id => "overview"}
        .page-header
          %h1 {{project.title}}
        %markdown{:strip => "true", "ng-model" => "args.description"}

      .section{:id => "issues"}
        .page-header
          %h1 Main Issues
        %ul.list-group
          %li.list-group-item{"ng-repeat" => "issue in args.issues"}
            %a.statement{"ui-sref" => "projects.project.statement({pid: pid, db: db, sid: issue.id})", rel: "address:{{ issue.url }}", id: "statement{{ issue.id }}"}
              %markdown{:strip => "true", "ng-model" => "issue.text"}

      .section{:id => "outline"}
        .page-header
          %h1 Outline

        %div{"ng-include" => "'project/outline/outline-statement.tpl.html'", "ng-repeat" => "node in args.outline"}

      .section{:id => "references"}
        .page-header
          %h1 References

        %ul
          %li{"ng-repeat" => "ref in args.references"}
            {{ ref.creator }}. {{ ref.date }}.
            %a{:href => "{{ ref.identifier }}"} {{ ref.title }}

    .col-md-3
      .bs-sidebar.hidden-print.affix{:role => "complementary"}
        %ul.nav.bs-sidenav
          %li
            %a{"ng-click" => "gotoSection(\'overview\')"}
              Overview
          %li
            %a{"ng-click" => "gotoSection(\'issues\')"}
              Issues
          %li
            %a{"ng-click" => "gotoSection(\'outline\')"}
              Outline
          %li
            %a{"ng-click" => "gotoSection(\'references\')"}
              References
