%ul
  %a{"ui-sref" => "home.projects.project.argument({pid: pid, db: db, aid: node.id})"}
    %markdown{"ng-model" => "node.text", strip: "true", extensions: "carneades"}

  %li{"ng-repeat" => "node in node.children", "ng-include" => "'project/outline/outline-statement.tpl.html'"}
