.container.project
  .row
    .col-md-12{:role => "main"}
      .section{:id => "overview"}
        .page-header
          %h1 {{project.title}}
        %markdown{:strip => "true", "ng-model" => "project.description"}

      .section{:id => "issues", "ui-view" => "issues"}

      .section{:id => "outline", "ui-view" => "outline"}

      .section{:id => "references", "ui-view" => "references"}
