ul
  a(evaluation-indicator,value='node.value',size='24x24',position='before',ui-sref='home.projects.project.arguments.argument({pid: $stateParams.pid, db: $stateParams.db, aid: node.id})')
    markdown(ng-model='node.text',strip='true',extensions='carneades')
  li(ng-repeat='node in node.children',ng-include="'projects/project/outline/outline-statement.jade'")
