h1 {
   text-align: center;
}

#loginform {
   width: 50%;
   margin: auto ;
}

.statement {
   color: black;
}

#conclusionprefix {
   float: left;
   margin-right: 1%;
}

#conclusioncontent {

}

.argument {
   color : black;
}

.argument ul {
   padding-left : 5%;
}

.outline p {
   margin-top: 0.25%;
   margin-bottom: 0.25%;
}

.premiseproperties {
   float: left;
   font-style: italic;
}
