/* 
    Document   : screen
    Created on : 01.12.2010, 16:50:47
    Author     : bbr
    Description:
        Stylesheet for Screens
*/

body{ font: 8pt "Trebuchet MS", sans-serif; margin: 50px; }
.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px; text-decoration: none; position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
/* blabla */
#datepicker { display:none; }
#progressbar { clear:both; }
#questions-box {
        min-height:200px;
        clear:both;
}

#questionlist {
        list-style:none;
        margin:0;
        padding:0;
        max-height:490px;
        overflow:auto;
}
#questionlist li {
        margin:0;
        padding:2px 10px;
}
#questionlist li:hover {
        font-weight:bold;
        cursor:pointer;
        padding: 2px 10px;
}
#questions {
        margin-left:200px;
        width:auto !important;
}
.qinfo {
        display:none;
        background:transparent url(../images/qinfo_bg.png) repeat-x top right;
        color:#444;
        /*font-size: 16px;*/
        /*margin-left: 2px;*/
        height: 16px;
        line-height: 12px;
        font-size:11px;
        padding:2px 3px 2px 0px;
}
.qinfo i { /*left site */
        margin: 0;
        padding: 0 7px;
        height: 16px;
        line-height: 16px;
        font-size:13px;
        background: transparent url(../images/qinfo.png) no-repeat;
}
.qinfo b { /* rigth site * /
        margin: 0;
        padding: 0 7px;
        height: 16px;
        line-height: 16px;
        font-size:13px;
        background: transparent url(../images/qinfo_r.png) no-repeat; */

}
#status {
        padding: 0.7em;
        position:absolute; right: 53px; top: 88px;
        display:none;
}
#locatebox {
        padding: 2px;
        position:absolute; right: 10px; top: 8px;
}

