/*
Syntax error: File to import not found or unreadable: compass.
              Load path: /Users/sebastiankaiser/workspace/fraunhofer/carneades/src/CarneadesWeb/client/src/_app/assets/stylesheets
        on line 1 of /Users/sebastiankaiser/workspace/fraunhofer/carneades/src/CarneadesWeb/client/src/_app/assets/stylesheets/copyright.scss

1: @import "compass";
2: 
3: //@import "projects/vendor/bootstrap/variables";
4: @import "projects/copyright/variables";
5: 
6: @import "projects/vendor/bootstrap/mixins";

Backtrace:
/Users/sebastiankaiser/workspace/fraunhofer/carneades/src/CarneadesWeb/client/src/_app/assets/stylesheets/copyright.scss:1
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/import_node.rb:67:in `import'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:218:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/engine.rb:273:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/plugin/compiler.rb:191:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/plugin/compiler.rb:188:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/plugin/compiler.rb:188:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/exec.rb:462:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/exec.rb:327:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/../lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.3.0.alpha.224/bin/sass:9
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load path: /Users/sebastiankaiser/workspace/fraunhofer/carneades/src/CarneadesWeb/client/src/_app/assets/stylesheets\A         on line 1 of /Users/sebastiankaiser/workspace/fraunhofer/carneades/src/CarneadesWeb/client/src/_app/assets/stylesheets/copyright.scss\A \A 1: @import \"compass\";\A 2: \A 3: //@import \"projects/vendor/bootstrap/variables\";\A 4: @import \"projects/copyright/variables\";\A 5: \A 6: @import \"projects/vendor/bootstrap/mixins\";"; }
