#subnav.ui-scrollfix {
    top: 0;
    position:fixed;
}

.headerDivLeft {
    background-color: #8EB144;
}

.headerDivLeft a {
    font-size:12px;
    color: #fff;
}

.markos-banner {
    background-color: #fff;
    height: 70px;
    background-image: url('/carneades/api/projects/markos/theme/png/logo-banner.png');
    background-repeat: no-repeat;
    background-position-y: 4px;
}