.container.statement
  .container.node
    .row
      evaluation-indicator(value='statement.value',size='32x32',position='after')
        h1(translate='projects.statement') Statement
      .statement-text
        {{statement.text}}
      
      div(ng-hide='headerIsEmpty')
        metadata(model='statement.header')

      div.pro-arguments(ng-hide="statement.pro.length == 0")
        .span.argument-indication(translate='projects.statement.pro_arguments')
        ul(ng-repeat='arg in statement.pro')
          li
            a(ui-sref='home.projects.project.argument({pid: pid, db: db, aid: arg.id})')
              {{argumentName(arg, $index)}}
            ul(ng-repeat='p in arg.premises')
              li
                span(ng-show="!p.positive") 
                  span(translate='projects.negative_premise')
                a(ui-sref='home.projects.project.statement({pid: pid, db: db, sid: p.id})')
                  {{p.text}}

      div.con-arguments(ng-hide="statement.con.length == 0")
        .span.argument-indication(translate='projects.statement.con_arguments')
        ul(ng-repeat='arg in statement.con')
          li
            a(ui-sref='home.projects.project.argument({pid: pid, db: db, aid: arg.id})')
              {{argumentName(arg, $index)}}
            ul(ng-repeat='p in arg.premises')
              li
                span(ng-show="!p.positive") 
                  span(translate='projects.negative_premise')
                a(ui-sref='home.projects.project.statement({pid: pid, db: db, sid: p.id})')
                  {{p.text}}

      div.premises-of(ng-hide="statement['premise-of'].length == 0")
        .span.premise-of-indication(translate='projects.statement.premise_of')
        ul(ng-repeat="arg in statement['premise-of']")
          li
            a(ui-sref='home.projects.project.argument({pid: pid, db: db, aid: arg.id})')
              {{argumentName(arg, $index)}}

      properties(keys="[['valueText', 'projects.value'],['standard', 'projects.standard'],['weight', 'projects.weight'],['main', 'projects.main_issues'],['atom', 'projects.atom'],['id', 'projects.id']]",model="statement")
