.container.statement
  .container.node
    .row
      %h1{translate: "projects.statement"} Statement
      %properties{keys: "[['id', 'projects.id'],
                          ['atom', 'projects.atom'],
                          ['main', 'projects.main_issues'],
                          ['standard', 'projects.standard'],
                          ['weight', 'projects.weight'],
                          ['value', 'projects.value']]", 
                  model: "statement"}
      
      %h2{translate: "projects.text"} Text
      {{statement.text}}
     
      %div{"ng-hide" => "headerIsEmpty"}
        %h2{translate: "projects.header"} Header
        %metadata{model: "statement.header"}
        
      %div{"ng-hide" => "statement.pro.length == 0" }
        %h2{translate: "projects.pro_arguments"} Pro Arguments
        %ul{"ng-repeat" => "arg in statement.pro"}
          %li
            %a{"ui-sref" => "home.projects.project.argument({pid: pid, db: db, aid: arg.id})"} {{argumentName(arg, $index)}}
            %ul{"ng-repeat" => "p in arg.premises"}
              %li
                %a{"ui-sref" => "home.projects.project.statement({pid: pid, db: db, sid: p.id})"} {{p.text}}
                  
      %div{"ng-hide" => "statement.con.length == 0"}
        %h2{translate: "projects.con_arguments"} Con Arguments
        %ul{"ng-repeat" => "arg in statement.con"}
          %li
            %a{"ui-sref" => "home.projects.project.argument({pid: pid, db: db, aid: arg.id})"} {{argumentName(arg, $index)}}
            %ul{"ng-repeat" => "p in arg.premises"}
              %li
                %a{"ui-sref" => "home.projects.project.statement({pid: pid, db: db, sid: p.id})"} {{p.text}}
                  
      %div{"ng-hide" => "statement['premise-of'].length == 0"}
        %h2{translate: "projects.premise_of"} Premise of
        %ul{"ng-repeat" => "arg in statement['premise-of']"}
          %li
            %a{"ui-sref" => "home.projects.project.argument({pid: pid, db: db, aid: arg.id})"} {{argumentName(arg, $index)}}
            %ul{"ng-repeat" => "p in arg.premises"}
              %li
                %a{"ui-sref" => "home.projects.project.statement({pid: pid, db: db, sid: p.id})"} {{p.text}}
