.row.form-group
  label.control-label.col-sm-1.col-md-1.col-lg-1 {{ key | translate | capitalize:'first' }}
  .col-sm-offset-1.col-sm-10.col-sm-offset-0.col-md-11.col-md-offset-0.col-lg-11.col-lg-offset-0(ng-transclude)
