form-group(label-key='projects.title')
  input.form-control.input-md(name="title",type="text",ng-model="model.title")

form-group(label-key='projects.description')
  multilang-hallo-editor(ng-model='ngModel.description', languages="[['en', 'En'],['de', 'De'],['fr', 'Fr'],['it', 'It'],['sp', 'Sp'],['nl', 'Nl']]")

form-group(label-key='projects.key')
  input.form-control.input-md(name="key",type="text",ng-model="model.key")

form-group(label-key='projects.contributor')
  input.form-control.input-md(name="contributor",type="text",ng-model="model.contributor")
          
form-group(label-key='projects.coverage')
  input.form-control.input-md(name="coverage",type="text",ng-model="model.coverage")

form-group(label-key='projects.creator')
  input.form-control.input-md(name="creator",type="text",ng-model="model.creator")

form-group(label-key='projects.date')
  input.form-control.input-md(name="date",type="text",ng-model="model.date")

form-group(label-key='projects.format')
  input.form-control.input-md(name="format",type="text",ng-model="model.format")

form-group(label-key='projects.identifier')
  input.form-control.input-md(name="identifier",type="text",ng-model="model.identifier")

form-group(label-key='projects.language')
  input.form-control.input-md(name="language",type="text",ng-model="model.language")

form-group(label-key='projects.publisher')
  input.form-control.input-md(name="publisher",type="text",ng-model="model.publisher")

form-group(label-key='projects.relation')
  input.form-control.input-md(name="relation",type="text",ng-model="model.relation")

form-group(label-key='projects.rights')
  input.form-control.input-md(name="rights",type="text",ng-model="model.rights")

form-group(label-key='projects.source')
  input.form-control.input-md(name="source",type="text",ng-model="model.source")

form-group(label-key='projects.subject')
  input.form-control.input-md(name="subject",type="text",ng-model="model.subject")

form-group(label-key='projects.type')
  input.form-control.input-md(name="type",type="text",ng-model="model.type")
