%div
  %table.table.table-striped
    %tr.block{"ng-repeat" => "k in keys"}
      %td.object-key{translate: "{{k[1]}}"} {{k[0]}}
      %td.object-value
        %span{"ng-switch" => "", on: "k[0]"}
          %span{"ng-switch-when" => "scheme"}
            %a{"ui-sref" => "home.projects.project.theory({tpid: schemesProject, tid: schemesName, scrollTo: model[k[0]].id})"}{{model[k[0]].header.title}}
          %span{"ng-switch-default" => ""}
            {{model[k[0]]}}
