.markos-banner {
    background-color: $body-bg;
    height: 70px;
    background-image: url('/carneades/api/projects/markos/theme/png/logo-banner.png');
    background-repeat: no-repeat;
    background-position-y: 4px;
}

.headerDivLeft {
    background-color: $markos-green;

    a {
        font-size:12px;
        color: #fff;
    }
}