.breadcrumbs {
    border: {
        bottom: 1px solid $breadcrumbs-link-color;
    }
    
    @include clearfix;
  
    > ul {
        @include inline-list;

        > li:last-child {
            > a {     
                &:after { content: normal; }
            }
        }

        > li {
            > a {
                color: $breadcrumbs-link-hover-color;
                display: block;
                float: left;
                position: relative;
                line-height: $breadcrumbs-height;
                padding: 0 1em 0 1.5em;
                background: $breadcrumbs-border;
                text-decoration: none;

                @include make-breadcrumb-link-after(); 
            }
            &.active {
                > a {
                    color: $breadcrumbs-link-color;
                    @include text-shadow(0 -1px 0 rgba(0,0,0,0.5));
                    background: $breadcrumbs-border;

                    &:after {
                        border-color: $breadcrumbs-border;
                        background: $breadcrumbs-border;
                    }
                }
            }
            &.hover {
                > a {
                    color: $breadcrumbs-link-hover-color;
                    background: $breadcrumbs-dark-bg;

                    &:after {
                        border-color: $breadcrumbs-dark-bg;
                        background: $breadcrumbs-dark-bg;
                    }
                }
            }

            @include make-breadcrumb-levels();
        }
    } 
}
