.markos-footer {
    background-color: #8EB144;
}
.nav {
    a.footerLink {
        font-size:12px;
        color: #fff;
        &:hover {
            text-decoration: underline;
            background-color: #8EB144;
        }
    }
}