

lkif {
    display:block;
    font-size: medium;
    font-family: Arial, Sans-serif;
}

sources:before {
    display: block;
    content: "sources";
    font-weight: bold;
}

source {
    display: block;
    margin-left: 2em;
    line-height: 0em;
    content: attr(element)": " attr(uri)
}

theory:before {
    font-weight: bold;
    content: "theory "
}

theory {
    display: block;
    content: attr(id) ". ";
}

imports:before {
   font-weight: bold;
   content: "imports ";
}

imports {
    margin-left: 2em;
    margin-bottom: 2em;
    display: block;
}   

axioms:before {
    font-weight: bold;
    content: "axioms ";
}

axioms {
    margin-left: 2em;
    margin-bottom: 2em;
    display: block;
}


axiom:before {
    content: attr(id) ". ";
}

axiom, head, body {
    margin-left: 2em;
    /* margin-bottom: 2em; */
    display: block;
}

/*
head, body > or, if, iff, exists, all, and, s {
    margin-left: 2em;
    display: block;
}
*/
 
rules:before {
    font-weight: bold;
    content: "rules ";
}

rules {
    display: block;
    margin-left: 2em;
    margin-bottom: 2em;
}
   
import:before {
    font-weight: bold;
    margin-left: 2em;
    content: "import ";
}

import {
    content: attr(url);
    margin-left: 2em;
    display: block;
}


rule:before {
    content: "rule ";
    font-weight: bold;
}

rule {
    content: attr(id);
    margin-left: 1em;
    margin-bottom: 1em;
    display: block;
}

head:before {
    content: "head";
    font-weight: bold;
}

head {
    display: block;
    margin-left: 1em;
}

domains:before {
	content: "domains";
	font-weight: bold;
}

domains {
    display: block;
    margin-left: 1em;
}

property, class {
	display: block;
    margin-left: 2em;
}

body:before {
    content: "body";
    font-weight: bold;
}

body {
    display: block;
    margin-left: 1em;
}

/*
body {
    margin-left: 2em;
}
*/

s {
    quotes: '"' '"' "'" "'";
    margin-left: 2em;
}

or > s {
    display: block;
    margin-left: 1em;
}

and > s {
    display: block;
    margin-left: 1em;
}

head > s, head > not {
    display: block;
    margin-left: 1em;
}

body > s {
    display: block;
    margin-left: 1em;
}

body > unless {
    display: block;
    margin-left: 1em;
}

body > not {
    display: block;
    margin-left: 1em;
}


or:before { 
    content: "any:";
    display: block;
    margin-left: 1em;
}

or {
    display: block;
    margin-left: 1em;
}


if:before {
    content: "if ";
}

if > s+s:before {
    content: " then ";
}

iff:before {
    content: "if and only if ";
}

iff > s+s:before {
    content: " then ";
}

and:before { 
    content: "all:";
    display: block;
    margin-left: 1em;
}

and {
    display: block;
    margin-left: 1em;
}

exists:before {
	content: " exists ";
}

not[exception="false"]:before {
    content:"not: ";
}

not[exception="true"]:before {
    content:"unless: ";
}

not:before {
    content:"not: ";
}   
    
s, statement > s {
    display: inline;
    content: ""
}

s > s:before { content: open-quote }
s > s:after { content: close-quote }

exists > s+s:before {
	content: " such that "
}

v {
    text-decoration: underline;
}

exists > v:after {
	content: " : ";
	text-decoration: none;
}

c {
    font-style: normal;
}


argument-graph:before {
    display: block;
    content: "argument graph";
    font-weight: bold;
}


statements:before {
    font-weight: bold;
    content: "statements"
}

statements {
    margin-left: 2em;
    display: block;
}

statements > statement {
    margin-left: 2em;
    display: block;
}

statement:before {
    content: attr(id) ". ";
}


arguments:before {
    content: "arguments ";
    font-weight: bold;
}

arguments {
    display: block;
    margin-left: 2em;
}

argument {
    content: attr(id) ". ";
    margin-left: 2em;
    display: block;
    margin-top: 1em;
}

conclusion {
     content: attr(statement)
}

conclusion:after {
    content: " since";
    font-weight: bold;
}
    
premises {
    display: block;
    margin-left: 2em;
}

premise[type="exception"]:before {
    content: "unless ";
}

premise[type="assumption"]:before {
    content: "assuming ";
}

premise {
    display: block; 
    margin-left: 1em;
    content: attr(statement)
}

