.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.my-fluid-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.map-mouseover {
    cursor: pointer;
}

.panel-default {
    &:hover {
        cursor: pointer;
    }
}

.scroll {
  overflow:scroll;
  width: 100%;
  min-height: 400px;
}

.editor-panel {
  border: 1px solid #CCC !important;
  border-radius: 4px;
}

.editor-nav-tab {
  border: 0;
}
