.container.node
  .row
    %h1{translate: "projects.argument"} Argument

    %div{"ng-hide" => "headerIsEmpty"}
      %metadata{model: "argument.header"}

    %div{"ng-hide" => "argument.premises.length == 0" }
      %h2{translate: "projects.premises"} Premises
      %div.premises_text{translate: "projects.premises_text"}
      %ul{"ng-repeat" => "p in argument.premises"}
        %li
          %span{"ng-hide" => "p.role == ''"}
            {{p.role}}.
          %span{"ng-show" => "!p.positive"} 
            %span{translate: "projects.negative_premise"}
          %a{"ui-sref" => "home.projects.project.statement({pid: pid, db: db, sid: p.id})"} {{p.text}}

    %h2{translate: "projects.conclusion"} Conclusion            
    %div.conclusion_text {{conclusion_text}}
    %a{"ui-sref" => "home.projects.project.statement({pid: pid, db: db, sid: argument.conclusion.id})"} {{argument.conclusion.text}}

    %h2{translate: "projects.properties"} Properties
    %properties{keys: "[['id', 'projects.id'],
                        ['scheme', 'projects.scheme'],
                        ['strict', 'projects.strict'],
                        ['weight', 'projects.weight'],
                        ['value', 'projects.value']]", 
                model: "argument"}
