.container.node
  .row
    %evaluation-indicator{value: "argument.value", size: "32x32", position: "after"}
      %h1{translate: "projects.argument"}
        Argument

    %div{"ng-hide" => "headerIsEmpty"}
      %metadata{model: "argument.header"}

    %div{"ng-hide" => "argument.premises.length == 0" }
      -# %h2{translate: "projects.premises"} Premises
      .premises-indication{translate: "projects.premises_text"}
      %ul{"ng-repeat" => "p in argument.premises"}
        %li
          %span{"ng-hide" => "p.role == ''"}
            {{p.role}}.
          %span{"ng-show" => "!p.positive"}
            %span{translate: "projects.negative_premise"}
          %a{"ui-sref" => "home.projects.project.statement({pid: pid, db: db, sid: p.id})"} {{p.text}}

    -# %h2{translate: "projects.conclusion"} Conclusion
    %div
      .conclusion-indication {{conclusion_text}}
      %a.conclusion-text{"ui-sref" => "home.projects.project.statement({pid: pid, db: db, sid: argument.conclusion.id})"} {{argument.conclusion.text}}

    -# %h2{translate: "projects.properties"} Properties 
    %br
    %properties{keys: "[['valueText', 'projects.value'],
                        ['scheme', 'projects.scheme'],
                        ['strict', 'projects.strict'],
                        ['weight', 'projects.weight'],
                        ['id', 'projects.id']]", 
                model: "argument"}
