div
  button(type='button' class='btn btn-default', ng-class='{active: model == true}', ng-click='activate(true)')
    {{'projects.true' | translate | capitalize:'first'}}
  button(type='button' class='btn btn-default', ng-class='{active: model == false}', ng-click='activate(false)')
    {{'projects.false' | translate | capitalize:'first'}}