.breadcrumbs:after {
   clear:both;
}
.breadcrumbs {
    background-color: $breadcrumbs-border;
    > ul {
        @include inline-list;

        > li:last-child {
            > a {
                &:after { content: normal; }
            }
        }

        > li {
            > a {
                color: $breadcrumbs-link-color;
                display: block;
                float: left;
                position: relative;
                line-height: $breadcrumbs-height;
                padding: 0 1em 0 1.5em;
                text-decoration: none;
                background: $breadcrumbs-border;
                &:hover {
                    color: $breadcrumbs-link-hover-color;
                    cursor: pointer;
                }

                @include make-breadcrumb-link-after();
            }
            &.active {
                > a {
                    color: $breadcrumbs-link-color;
                    text-decoration: underline;
                    background: $breadcrumbs-border;
                    &:hover {
                        color: $breadcrumbs-link-hover-color;
                    }
                }
            }

            @include make-breadcrumb-entry();
        }
    }
}
