.bucketnav {
  height: 49px;

  > ul {
    @include inline-list;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 0 0 5px !important;

    > li {
      padding: 0px;
      button {
        color: $text-color;
        cursor: pointer;
        height: 49px;
        border-width: 2px;
        border-radius: 18px;
        border-style: solid;
        border-color: $breadcrumbs-border $breadcrumbs-border #fff;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #fff;
        padding: 0 15px;

        &.active {
          color: $breadcrumbs-link-color
        }

        &:hover {
          font-size: 16px;
        }
      }
    }
  }
}
