.bucketnav {
  height: 36px;

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border-color: $breadcrumbs-border $breadcrumbs-border transparent;
  }

  .nav-tabs {
      border-bottom-color: $breadcrumbs-border;
  }

  .nav-tabs > li > a:hover {
      border-bottom-color: $breadcrumbs-border;
  }
}
