.commands {
  margin: 0px 0px 20px !important;
}

button {
  margin: 0 5px 0 0 !important;
  
  i.fa {
    padding: 5px 0 5px 0px !important;
    font-size: 120%;

    span {
      padding: 0 0 0 10px !important;
    }
  }
}