.evaluation-undefined-32x32-after:after {
content: url("../../../../../images/circle_grey_32x32.png");
}
.evaluation-in-32x32-after:after {
content: url("../../../../../images/circle_green_32x32.png");
}
.evaluation-out-32x32-after:after {
content: url("../../../../../images/circle_red_32x32.png");
}
.evaluation-undecided-32x32-after:after {
content: url("../../../../../images/circle_orange_32x32.png");
}
.evaluation-undefined-24x24-after:after {
content: url("../../../../../images/circle_grey_24x24.png");
}
.evaluation-in-24x24-after:after {
content: url("../../../../../images/circle_green_24x24.png");
}
.evaluation-out-24x24-after:after {
content: url("../../../../../images/circle_red_24x24.png");
}
.evaluation-undecided-24x24-after:after {
content: url("../../../../../images/circle_orange_24x24.png");
}
.evaluation-undefined-32x32-before:before {
content: url("../../../../../images/circle_grey_32x32.png");
margin-right: 12px;
}
.evaluation-in-32x32-before:before {
content: url("../../../../../images/circle_green_32x32.png");
margin-right: 12px;
}
.evaluation-out-32x32-before:before {
content: url("../../../../../images/circle_red_32x32.png");
margin-right: 12px;
}
.evaluation-undecided-32x32-before:before {
content: url("../../../../../images/circle_orange_32x32.png");
margin-right: 12px;
}
.evaluation-undefined-24x24-before:before {
content: url("../../../../../images/circle_grey_24x24.png");
margin-right: 12px;
}
.evaluation-in-24x24-before:before {
content: url("../../../../../images/circle_green_24x24.png");
margin-right: 12px;
}
.evaluation-out-24x24-before:before {
content: url("../../../../../images/circle_red_24x24.png");
margin-right: 12px;
}
.evaluation-undecided-24x24-before:before {
content: url("../../../../../images/circle_orange_24x24.png");
margin-right: 12px;
}