.form-horizontal .control-label {
  padding-top: 7px;
}

.pid {
  font-family: monospace;
  font-weight:bold;
}

.form-horizontal {
  .nav-tabs {
    cursor: pointer;
  }
}

.view-horizontal .control-label {
  padding-top: 7px;
}