#outline ul {
  list-style-type: none;
}

#outline a {
  color: $text-color;
}

#share .markos {
    background-image: url("../../../../../images/markos.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 32px;
    padding-left: 32px;
    padding-right: 0px;
    cursor: pointer;
}

#share .twitter {
    background-image: url("../../../../../images/twitter.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 32px;
    padding-left: 32px;
    padding-right: 0px;
    cursor: pointer;
}

.shareInput {
    margin-top: 10px;
}

.shareInput input {
    width: 500px;
}

#share {
    margin-bottom: 2%;
}