@media (max-width: $grid-float-breakpoint - 1) {
    .outline h1{
        font-size: 22px;
    }

    #description, #issues, #references, #outline {
        font-size: 12px;
    }

    #outline {
        ul {
            padding: 5px;
        }
    }
}

@media (min-width: $grid-float-breakpoint) {
    #outline {
      ul {
        padding: 12px 12px 6px 12px;
        }
    }
}

#outline ul {
  list-style-type: none;
  line-height: 3px;

  li {
    line-height: 3px;
  }
}

#outline a {
  color: $text-color;
}

#share .markos {
    background-image: url("../../../../../images/markos.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 32px;
    padding-left: 32px;
    padding-right: 0px;
    cursor: pointer;
}

#share .twitter {
    background-image: url("../../../../../images/twitter.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 32px;
    padding-left: 32px;
    padding-right: 0px;
    cursor: pointer;
}

.shareInput {
    margin-top: 10px;
}

.shareInput input {
    width: 500px;
}

#share {
    margin-bottom: 2%;
}
